SECRET_KEY=GF#QhIU%}4;auyFdIr]6>$_~|=.'9qB%[Oj;.<^$IkNAgp0E{d
MATD3_NAME=MatD3
MATD3_URL=mat3d.com
ALLOWED_HOSTS=.mat3d.com, .localhost, .127.0.0.1, .0.0.0.0
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=mat3dadmin
EMAIL_HOST_PASSWORD=password
USE_SQLITE=True
DEBUG=True
SELENIUM_DRIVER=firefox
