SECRET_KEY=GF#QhIU%}4;auyFdIr]6>$_~|=.'9qB%[Oj;.<^$IkNAgp0E{d
MATD3_NAME=HybriD&#xb3; database
MATD3_URL=mat3d.com
ALLOWED_HOSTS=.localhost, .mat3d.com
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=mat3dadmin
EMAIL_HOST_PASSWORD=password
