{% extends 'materials/base.html' %}

{% block body %}
  <br>
  <div class="card card-default">
    <div class="card-header">
      <h4>Add Reference</h4>
    </div>
    <div class="card-body">
      <form id="author-count" method="post" action="{% url 'materials:author_count' %}">
        {% csrf_token %}
        <label for="id_author_count">Number of authors:</label>
        <input type="number" name="author_count" autofocus="true" class="form-control" id="id_author_count" min="1" max="50" placeholder="Please enter the number of authors associated with this reference" required>
        <button type="submit" class="btn btn-info">Enter</button>
      </form>

      <form id="add-reference" method="post" action="{% url 'materials:add_reference' %}" class="form-group invisible">
        {% csrf_token %}
        <p>
          <div id="entered-authors">
          </div>
        </p>
        {{ pub_form.as_p }}
        <button type="submit" class="btn btn-info">Submit new reference</button>
      </form>
      {{text}}
      <div id="feedback">
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% load static %}
  <script src="{% static 'materials/javascript/ajax_submit.js' %}"></script>
  <script src="{% static 'materials/javascript/ajax_alert_form_submit.js' %}"></script>
  <script>
   $('#author-count').submit(function() {
     $('#add-reference').removeClass('invisible');
   });
   ajax_submit($('#author-count'), $('#entered-authors'));
   alert_submit($('#add-reference'), $('#feedback'));
  </script>
{% endblock %}
