{% extends 'materials/base.html' %}

{% block body %}
  <br>
  <div class="card card-default">
    <div class="card-header">
      <h4>Add System</h4>
    </div>
    <div class="card-body">
      <form id="add-system" method="post" action="/materials/add-system">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="alert alert-warning" role="alert">
          Can't find a tag?
          <a class="alert-link" target="_blank" href="{% url 'materials:add_tag' %}">click here to add a tag</a>.
        </div>
        <button type="submit" class="btn btn-primary">Add new system</button>
      </form>
      <div id="results">
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% load static %}
  <script src="{% static 'materials/javascript/ajax_alert_form_submit.js' %}"></script>
  <script type="text/javascript">
   alert_submit($('#add-system'), $('#results'));
  </script>
{% endblock %}
