{% extends 'materials/template.html' %}

{% block heading %}
  <h4>Add Data</h4>
{% endblock %}

{% block mainbody %}
  {% if messages %}
    {% for message in messages %}
      <div class="d-flex">
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      </div>
    {% endfor %}
  {% endif %}
  <ul class="nav nav-tabs" id="new-data-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="data-tab" data-toggle="tab"
         href="#results" role="tab">
        Add new results
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="new-property-tab" data-toggle="tab"
         href="#properties" role="tab">
        Define new property
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="new-unit-tab" data-toggle="tab"
         href="#units" role="tab">
        Define new unit
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="new-unit-tab" data-toggle="tab"
         href="#unsorted" role="tab">
        Other
      </a>
    </li>
  </ul>
  <div class="tab-content" id="add-results-tab-content">
    <!-- ADD NEW RESULTS -->
    <div class="tab-pane show active" id="results" role="tabpanel">
      <br>
      <form method="post" action="{% url 'materials:submit_data' %}">
        {% csrf_token %}
        <div class="card card-item">
          <div class="card-body card-add-data">
            <div class="form row">
              <div class="col-md-2 col-form-label">
                <label for="pub-selector">Select publication</label>
                <i class="fa fa-question-circle tooltip-container" style="margin-right:-50px">
                  <span class="tooltiptext">Select publication where the data to be inserted is published.</span>
                </i>
              </div>
              <div class="col-md-7 mb-3">
                <select name="publication" class="form-control" id="pub-selector">
                  {% for pub in publications %}
                    <option value={{ pub.pk }}>
                      {{ pub.year }}
                      {% if pub.year %}-{% endif %}
                      {{ pub.getAuthorsAsString }}
                      {{ pub.journal }}
                      <strong>{{ pub.vol }}</strong>{% if pub.vol and pub.pages_start %},{% endif %}
                      {{ pub.pages_start }}
                      {% if pub.title == "Unpublished" %}
                        <i>unpublished</i>
                      {% else %}
                        "{{ pub.title }}"
                      {% endif %}
                    </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-3 mb-3">
                <input class="form-control" id="pub-search" type="text" placeholder="Search..">
              </div>
            </div>
            <div class="form row">
              <div class="col-md-2 col-form-label">
                <label for="sys-selector">Select system</label>
                <i class="fa fa-question-circle tooltip-container">
                  <span class="tooltiptext">Select the system that is associated with the inserted data.</span>
                </i>
              </div>
              <div class="col-md-7 mb-3">
                <select name="system" class="form-control" id="sys-selector">
                  {% for sys in systems %}
                    <option value={{ sys.pk }}>
                      {{ sys }}
                    </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-3 mb-3">
                <input class="form-control" id="sys-search" type="text" placeholder="Search..">
              </div>
            </div>
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input" name="dataset_visible"
                     id="dataset-visible" checked="checked">
              <label class="form-check-label" for="dataset-visible">Visible to public</label>
              <i class="fa fa-question-circle tooltip-container" style="margin-left:3px">
                <span class="tooltiptext">Choose whether the data should be initially visible on the website. If not, only you can view the data. This setting can be easily toggled later.</span>
              </i>
            </div>
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input" name="dataset_plotted"
                     id="dataset-plotted">
              <label class="form-check-label" for="dataset-plotted">Plotted</label>
              <i class="fa fa-question-circle tooltip-container" style="margin-left:3px">
                <span class="tooltiptext">Choose whether the data is more suitably presented as a figure or as a table. Especially for a large amount of data points, a figure ("plotted") might make more sense.</span>
              </i>
            </div>
          </div>
        </div>

        <br>

        <div class="card card-item">
          <div class="card-body card-add-data">
            <div class="row">
              <div class="col-md-8">
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="primary_property">Primary property</label>
                    <i class="fa fa-question-circle tooltip-container">
                      <span class="tooltiptext">Define the primary property of interest (in a figure, this typically denotes the y-axis).</span>
                    </i>
                    <select name="primary_property" class="form-control">
                      {% for property in properties %}
                        <option value="{{ property.pk }}">{{ property }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="primary_unit">Primary unit</label>
                    <i class="fa fa-question-circle tooltip-container">
                      <span class="tooltiptext">Define the primary unit of interest (in a figure, this typically denotes the unit of the y-axis). For dimensionless physical properties, select "none". If the data is in arbitray units, select "a.u." (note that this is different from "none").</span>
                    </i>
                    <select name="primary_unit" class="form-control">
                      {% for unit in units %}
                        <option value="{{ unit.pk }}">{{ unit }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="secondary_property">Secondary property</label>
                    <i class="fa fa-question-circle tooltip-container">
                      <span class="tooltiptext">Define the secondary property of interest (in a figure, this typically denotes the x-axis). When inserting values that have no direct dependence on a physical property (e.g., a list of phonon energies), the secondary property may be left empty.</span>
                    </i>
                    <select id="secondary-property" name="secondary_property" class="form-control">
                      <option value="-1">- none -</option>
                      {% for property in properties %}
                        <option value="{{ property.pk }}">{{ property }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="secondary_unit">Secondary unit</label>
                    <i class="fa fa-question-circle tooltip-container">
                      <span class="tooltiptext">Define the secondry unit of interest (in a figure, this typically denotes the unit of the x-axis).</span>
                    </i>
                    <select id="secondary-unit" name="secondary_unit" class="form-control" disabled>
                      {% for unit in units %}
                        <option value="{{ unit.pk }}">{{ unit }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label for="main_data">Values</label>
                <i class="fa fa-question-circle tooltip-container">
                  <span class="tooltiptext">Insert data points here. These may be a single value, a series of values, or a series of value pairs. The latter applies when there are both primary and secondary properties, in which case the first column has values of the secondary property (x-values) and the second column corresponds to the primary property (y-values).</span>
                </i>
                <textarea id="main-data" class="form-control" name="main_data" rows="4"
                          placeholder="value_1 value_2 ..."></textarea>
              </div>
            </div>
            <div id="fixed-properties">
            </div>
            <i class="fa fa-question-circle fa-2x float-right tooltip-container">
              <span class="tooltiptext">Click to define a property that was fixed during the experiment or calculation. For example, if a series of band gaps was measured as a function of pressure and temperature was kept constant for the whole series, the temperature value may be inserted here.</span>
            </i>
            <button type="button" id="add-fixed-property"
                    class="btn btn-info float-right">
              Add fixed property
            </button>
          </div>
        </div>

        <br>

        <div class="float-right">
          <button type="submit" name="submit_results" class="btn btn-primary">
            Submit
          </button>
        </div>

      </form>
      <!-- to be copied -->
      <div class="form-row fixed-property-template d-none">
        <div class="col-md-4 mb-3">
          <label for="fixed_property">Property</label>
          <select name="fixed_property" class="form-control">
            {% for property in properties %}
              <option>{{ property.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label for="fixed_unit">Unit</label>
          <select name="fixed_unit" class="form-control">
            {% for unit in units %}
              <option>{{ unit.label }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label for="fixed_data">Fixed value</label>
          <div class="input-group">
            <input type="text" name="fixed_data" class="form-control"
                   maxlength="20" required>
            <div class="input-group-append">
              <button class="close-fixed-property btn btn-danger fa fa-times"
                      type="button" ></button>
            </div>
          </div>
        </div>
      </div>
      <!-- end copy -->
    </div>
    <!-- ADD NEW PROPERTY -->
    <div class="tab-pane" id="properties" role="tabpanel">
      <br>
      <form method="post" action="{% url 'materials:add_property' %}">
        {% csrf_token %}
        <label for="property_name">Property name: </label>
        <input id="property_name" type="text" name="property_name" value="" required>
        <br>
        <button type="submit" name="submit_property" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <!-- ADD NEW UNIT -->
    <div class="tab-pane" id="units" role="tabpanel">
      <br>
      <form method="post" action="{% url 'materials:add_unit' %}">
        {% csrf_token %}
        <label for="unit_label">Unit label: </label>
        <input id="unit_label" type="text" name="unit_label" value="" required>
        <br>
        <button type="submit" name="submit_unit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <!-- UNSORTED -->
    <div class="tab-pane" id="unsorted" role="tabpanel">
      <br>
      <div style="padding-bottom: 10px">
        <label for="list">Select the type of data you wish to add:</label>
      </div>
      <div id="list" class="list-group">
        <a href="{% url 'materials:add_a_pos'%}" class="list-group-item list-group-item-action">
          Atomic Positions
        </a>
        <a href="{% url 'materials:add_synthesis'%}" class="list-group-item list-group-item-action">
          Synthesis Method
        </a>
        <a href="{% url 'materials:add_exciton_emission'%}" class="list-group-item list-group-item-action">
          Photoluminescence Data
        </a>
        <a href="{% url 'materials:add_band_structure'%}" class="list-group-item list-group-item-action">
          Band Structure and/or Band Gap
        </a>
        <a href="{% url 'materials:add_material_property'%}" class="list-group-item list-group-item-action">
          Other Material Property
        </a>
      </div>
      <div style="padding-bottom:10px;padding-top:10px">
        <label for="other-list">Other options:</label>
      </div>
      <div id="other-list" class="list-group">
        <a href="{% url 'materials:add_publication'%}" class="list-group-item list-group-item-action">
          Add Publication
        </a>
        <a href="{% url 'materials:add_system'%}" class="list-group-item list-group-item-action">
          Add System
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% load static %}
  <script src="{% static 'materials/javascript/filter_form.js' %}"></script>
  <script>
   /* Filter dropdown menus */
   filter_form($('#pub-search'), $('#pub-selector'));
   filter_form($('#sys-search'), $('#sys-selector'));
   /* Add a fixed property */
   var counter_fixed = 0;
   $('#add-fixed-property').click(function(){
     var el = $('.fixed-property-template').clone(true);
     el.removeClass('d-none');
     el.removeClass('fixed-property-template');
     el.find('[name="fixed_property"]').attr('name', 'fixed_property' + counter_fixed);
     el.find('[name="fixed_unit"]').attr('name', 'fixed_unit' + counter_fixed);
     el.find('[name="fixed_data"]').attr('name', 'fixed_data' + counter_fixed);
     $('#fixed-properties').append(el);
     counter_fixed = counter_fixed + 1
   });
   /* Remove a fixed property */
   $('.close-fixed-property').click(function(){
     $(this).parents('.form-row').remove();
   });
   /* Depending on whether the secondary property is none, set
      visibility of the secondary unit and the placeholder */
   $('#secondary-property').change(function() {
     if ($('#secondary-property option:selected').attr('value') == -1) {
       $('#secondary-unit').prop('disabled', true);
       $('#main-data').attr('placeholder', 'value_1 value_2 ...');
     } else {
       $('#secondary-unit').prop('disabled', false);
       var placeholder_text = 'x1 y1\nx2 y2\n...';
       $('#main-data').attr('placeholder', placeholder_text);
     }
   });
  </script>
{% endblock %}
