{% extends 'materials/add_entry_template.html' %}

{% block heading %}
<h4>Add Band Structure</h4>
{% endblock %}

{% block form %}
<form id="add-band-structure" method="post" action="{% url 'materials:add_band_structure' %}">
    {% csrf_token %}
    <div id="publication-search-result">
      Search by publication title, journal name, or full name of author.
    </div>
    <div id="system-search-result">
      Search by compound name or formula.
    </div>
    {{ band_structure_form.as_p }}
    <button type="submit" class="btn btn-default">Submit new band structure</button>
</form>
{% endblock %}

{% block ajaxscript %}
<script type="text/javascript">
  ajax_submit($('#add-band-structure'), $('#feedback'));
</script>
{% endblock %}
