{% extends 'materials/base.html' %}

{% block body %}
  <br>
  <div class="card card-default">
    <div class="card-header">
      <h4>Add Author</h4>
    </div>
    <div class="card-body">
      <form id="add-author" method="post" action="/materials/add-author">
        {% csrf_token %}
        {{ input_form.as_p }}
        <button type="submit" class="btn btn-default">Add new author</button>
      </form>
      {{ text }}
      <div id="results">
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% load static %}
  <script src="{% static 'materials/javascript/ajax_alert_form_submit.js' %}"></script>
  <script type="text/javascript">
   var form = $('#add-author');
   var feedback = $('#results');
   alert_submit(form, feedback)
  </script>
{% endblock %}
