{% extends 'materials/add_entry_template.html' %}

{% block heading %}
  <h4>Add PL data</h4>
{% endblock %}
{% load static %}

{% block form %}
  <form id="add-exciton-emission" method="post" action="{% url 'materials:add_exciton_emission' %}" enctype='multipart/form-data'>
    {% csrf_token %}
    <div id="publication-search-result">
    </div>
    <div id="system-search-result">
    </div>
    {{ exciton_emission_form.as_p }}
    <p class="alert alert-info">
      Please refer to the HybriD³ Photoluminescence (PL) description for file specifications:
      <a class="alert-link" href="{% static 'materials/file_templates/pl_description.pdf'%}">Download PL description</a>
    </p>
    <button type="submit" class="btn btn-primary">Submit new PL data</button>
  </form>
{% endblock %}

{% block ajaxscript %}
  <script type="text/javascript">
   alert_submit($('#add-exciton-emission'), $('#feedback'));
  </script>
{% endblock %}
