{% extends 'materials/materials_template.html' %}

{% block mainbody %}
<form id="search-publication" method="post" action="{% url 'materials:search_publication' %}">
    {% csrf_token %}
    <label for="id_search_text">Search term:</label>
    <input type="text" name="search_text" class="form-control" id="id_search_text" maxlength="100"
    placeholder="Search by publication title, journal name, or full name of author." required>
    <p>
      <button type="submit" class="btn btn-default">Search for publication</button>
    </p>
</form>
<form id="search-system" method="post" action="{% url 'materials:search_system' %}">
    {% csrf_token %}
    <label for="id_search_text">Search term:</label>
    <input type="text" name="search_text" class="form-control" id="id_search_text" maxlength="100"
    placeholder="Search by compound name or formula." required>
    <p>
      <button type="submit" class="btn btn-default">Search for system</button>
    </p>
</form>
{% block form %}
{% endblock %}
<div id="feedback">
</div>
{% endblock %}

{% block script %}
  {% include 'materials/ajax_form_submit.html' %}
  <script type="text/javascript">
  ajax_submit($('#search-publication'), $('#publication-search-result'));
  ajax_submit($('#search-system'), $('#system-search-result'));
  </script>
  {% include 'materials/ajax_alert_form_submit.html' %}
  {% block ajaxscript %}
  {% endblock %}
{% endblock %}
