{% extends 'materials/template.html' %}

{% block mainbody %}
  <form id="search-publication" method="post" action="{% url 'materials:search_publication' %}">
    {% csrf_token %}
    <label for="id_search_text">Search term:</label>
    <input type="text" name="search_text" class="form-control" id="id_search_text" maxlength="100"
           placeholder="Search by publication title, journal name, or full name of author." required>
    <p>
      <button type="submit" class="btn btn-info">Search for publication</button>
    </p>
  </form>
  <form id="search-system" name="search-system" method="post" action="{% url 'materials:search_system' %}">
    {% csrf_token %}
    <label for="id_search_text">Search term:</label>
    <input type="text" name="search_text" class="form-control" id="id_search_text" maxlength="100"
           placeholder="Search by compound name or formula." required>
    <p>
      <button type="submit" class="btn btn-info">Search for system</button>
    </p>
  </form>

  {% block form %}
  {% endblock %}

  <div id="feedback">
  </div>
{% endblock %}

{% block script %}
  {% load static %}
  <script type="text/javascript">
   var params = [
     {
       name: "related_synthesis",
       value: "{{ related_synthesis }}"
     }
   ];
   $('#search-system').submit(function () {
     $(this).append($.map(params, function (param) {
       return   $('<input>', {
         type: 'hidden',
         name: param.name,
         value: param.value
       })
     }))
   });
  </script>
  <script src="{% static 'materials/javascript/ajax_form_submit.js' %}"></script>
  <script type="text/javascript">
   ajax_submit($('#search-publication'), $('#publication-search-result'));
   ajax_submit($('#search-system'), $('#system-search-result'));
  </script>
  {% block ajaxscript %}
  {% endblock %}
{% endblock %}
