{% extends 'materials/base.html' %}

{% block body %}
  <br>
  <div class="card card-default">
    <div class="card-header">
      <h4>Add System</h4>
    </div>
    <div class="card-body">
      <form id="add-system" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add new system</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
   let add_system = document.getElementById('add-system');
   add_system.addEventListener('submit', function(event) {
     event.preventDefault();
     var form_data = new FormData(this);
     axios.post("/materials/add-system", form_data)
          .then(response => {
            this.reset();
            const flex = document.createElement('div');
            flex.classList.add('d-flex');
            const alert = document.createElement('div');
            alert.classList.add('alert', 'alert-success');
            alert.innerHTML = 'Save success';
            flex.appendChild(alert);
            document.getElementById('dynamic-messages').appendChild(flex);
          });
   });
  </script>
{% endblock %}
