{% extends 'materials/base.html' %}

{% load materials_tags %}

{% block body %}
  <div class="card card-default">
    <div class="card-header">
      <h4>Add Data</h4>
    </div>
    <div class="card-body">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#results" role="tab">
            Add new results
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#reference" role="tab">
            Add new reference
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#system" role="tab">
            Add new system
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#properties" role="tab">
            Define new property
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#units" role="tab">
            Define new unit
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <!-- ADD NEW RESULTS -->
        <div class="tab-pane show active" id="results" role="tabpanel">
          <br>
          <form method="post" action="{% url 'materials:submit_data' %}"
                enctype="multipart/form-data">
            {% csrf_token %}
            <!-- GENERAL -->
            <div class="card card-item">
              <div class="card-header">
                General
              </div>
              <div class="card-body card-add-data">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    {% input_field main_form.select_reference %}
                  </div>
                  <div class="form-group col-md-6">
                    {% input_field main_form.select_system %}
                  </div>
                  <div class="form-group col-md-6">
                    {% input_field main_form.label %}
                  </div>
                  <div class="form-group col-md-6">
                    {% input_field main_form.extraction_method %}
                  </div>
                  <div class="from-group col-md-4">
                    {% input_field main_form.primary_property %}
                  </div>
                  <div class="from-group col-md-2">
                    {% input_field main_form.primary_unit %}
                  </div>
                  <div class="from-group col-md-4">
                    {% input_field main_form.secondary_property %}
                  </div>
                  <div class="from-group col-md-2">
                    {% input_field main_form.secondary_unit %}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    {% input_field main_form.primary_property_label %}
                  </div>
                  <div class="form-group col-md-6">
                    {% input_field main_form.secondary_property_label %}
                  </div>
                </div>
                <hr>
                <div class="form-check form-check-inline">
                  {% input_field main_form.is_figure %}
                </div>
                <div class="form-check form-check-inline">
                  {% input_field main_form.visible_to_public %}
                </div>
                <div class="form-check form-check-inline">
                  {% input_field main_form.two_axes %}
                </div>
                <hr>
                <div class="form-row">
                  <div class="col-md-6">
                    {% input_field main_form.origin_of_data %}
                  </div>
                  <div class="col-md-6">
                    {% input_field main_form.dimensionality_of_the_system %}
                  </div>
                  <div class="col-md-6">
                    {% input_field main_form.sample_type %}
                  </div>
                  <div class="col-md-6">
                    {% input_field main_form.crystal_system %}
                  </div>
                </div>
              </div>
            </div>

            <br>

            <!-- SYNTHESIS METHOD -->
            <div class="card card-item">
              <button class="btn text-left" data-toggle="collapse" type="button"
                      id="synthesis-button" data-target="#synthesis-body"
                      style="background:#dce9ff">
                Synthesis method (click to add)
              </button>
              {{ main_form.with_synthesis_details }}
              <div class="collapse" id="synthesis-body">
                <div class="card-body card-add-data">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      {% input_field main_form.starting_materials %}
                    </div>
                    <div class="form-group col-md-6">
                      {% input_field main_form.product %}
                    </div>
                  </div>
                  <div class="form-group">
                    {% input_field main_form.synthesis_description %}
                  </div>
                  <div class="form-group">
                    {% input_field main_form.synthesis_comment %}
                  </div>
                </div>
              </div>
            </div>

            <br>

            <!-- EXPERIMENTAL DETAILS -->
            <div class="card card-item">
              <button class="btn text-left" data-toggle="collapse" type="button"
                      id="experimental-button" data-target="#experimental-body"
                      style="background:#dce9ff">
                Experimental details (click to add)
              </button>
              {{ main_form.with_experimental_details }}
              <div class="collapse" id="experimental-body">
                <div class="card-body card-add-data">
                  <div class="form-group">
                    {% input_field main_form.experimental_method %}
                  </div>
                  <div class="form-group">
                    {% input_field main_form.experimental_description %}
                  </div>
                  <div class="form-group">
                    {% input_field main_form.experimental_comment %}
                  </div>
                </div>
              </div>
            </div>

            <br>

            <!-- COMPUTATIONAL DETAILS -->
            <div class="card card-item">
              <button class="btn text-left" data-toggle="collapse" type="button"
                      id="computational-button" data-target="#computational-body"
                      style="background:#dce9ff">
                Computational details (click to add)
              </button>
              {{ main_form.with_computational_details }}
              <div class="collapse" id="computational-body">
                <div class="card-body card-add-data">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      {% input_field main_form.code %}
                    </div>
                    <div class="form-group col-md-6">
                      {% input_field main_form.level_of_theory %}
                    </div>
                    <div class="form-group col-md-6">
                      {% input_field main_form.xc_functional %}
                    </div>
                    <div class="form-group col-md-6">
                      {% input_field main_form.k_point_grid %}
                    </div>
                    <div class="form-group col-md-6">
                      {% input_field main_form.level_of_relativity %}
                    </div>
                    <div class="form-group col-md-6">
                      {% input_field main_form.basis_set_definition %}
                    </div>
                    <div class="form-group col-md-6">
                      {% input_field main_form.numerical_accuracy %}
                    </div>
                  </div>
                  <div class="form-group">
                    {% input_field main_form.computational_comment %}
                  </div>
                </div>
              </div>
            </div>

            <br>

            <!-- DATA -->
            <div class="card card-item">
              <div class="card-header">
                Data
              </div>
              <div class="card-body card-add-data">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-inline">
                      <div class="form-group">
                        {{ main_form.number_of_subsets.label_tag }}
                        <div style="margin-left:3px">
                          {{ main_form.number_of_subsets.help_text|tooltip }}
                        </div>
                        {{ main_form.number_of_subsets }}
                      </div>
                      <input type="file" id="import-all-data" class="inputfile">
                      <label for="import-all-data"><i class="fa fa-upload" aria-hidden="true"></i>
                        Import all from file...</label>
                      <i class="fa fa-question-circle tooltip-container" style="margin-left:3px">
                        <span class="tooltiptext">Select to import all data (all subsets) from a single file. Use the ampersand ("&") as a delimiter between different data subsets.</span>
                      </i>
                    </div>
                  </div>
                </div>
                <br>
                <div id="data-subset"></div>
              </div>
            </div>

            <br>

            <!-- ADDITIONAL DATA -->
            <div class="card card-item">
              <div class="card-header">
                Additional data
              </div>
              <div class="card-body card-add-data">
                {% input_field main_form.uploaded_files %}
              </div>
            </div>

            <br>

            <div class="float-right">
              <button type="submit" name="submit-results" class="btn btn-primary">
                Submit
              </button>
            </div>

          </form>
        </div>


        <!-- REFERENCE -->
        <div class="tab-pane" id="reference" role="tabpanel">
          <br>
          <div id="other-list" class="list-group">
            <a href="{% url 'materials:add_reference'%}" class="list-group-item list-group-item-action">
              Add Reference
            </a>
          </div>
        </div>

        <!-- SYSTEM -->
        <div class="tab-pane" id="system" role="tabpanel">
          <br>
          <div id="other-list" class="list-group">
            <a href="{% url 'materials:add_system'%}" class="list-group-item list-group-item-action">
              Add System
            </a>
          </div>
        </div>

        <!-- ADD NEW PROPERTY -->
        <div class="tab-pane" id="properties" role="tabpanel">
          <br>
          <form method="post" action="{% url 'materials:add_property' %}">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                {% input_field property_form.property_name %}
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <!-- ADD NEW UNIT -->
        <div class="tab-pane" id="units" role="tabpanel">
          <br>
          <form method="post" action="{% url 'materials:add_unit' %}">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                {% input_field unit_form.unit_label %}
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- data subset template -->
  <div class="data-subset-template d-none">
    <br>
    <div class="card card-subset">
      <div class="card-header"></div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-7">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{ main_form.subset_label.label }}</span>
                  </div>
                  {{ main_form.subset_label }}
                  <i class="fa fa-question-circle fa-2x tooltip-container" style="margin:3px">
                    <span class="tooltiptext">{{ main_form.subset_label.help_text }}</span>
                  </i>
                </div>
              </div>
              <div class="col-md-5">
                <button type="button" class="btn btn-info add-fixed-property"
                        style="margin-bottom:15px">
                  Add fixed property
                </button>
                <i class="fa fa-question-circle fa-2x tooltip-container">
                  <span class="tooltiptext">Click to define a property that was fixed during the experiment or calculation. For example, if a series of band gaps was measured as a function of pressure and temperature was kept constant for the whole series, the temperature value may be inserted here.</span>
                </i>
              </div>
            </div>
            <div class="fixed-properties"></div>
          </div>
          <div class="col-md-4">
            <div class="normal-input">
              {{ main_form.subset_datapoints.label_tag }}
              {{ main_form.subset_datapoints.help_text|tooltip }}
              <div class="float-right">
                <input type="file" id="import-data-file" class="inputfile import-data-file">
                <label for="import-data-file"><i class="fa fa-upload" aria-hidden="true"></i>
                  Import from file...</label>
              </div>
              {{ main_form.subset_datapoints }}
            </div>
            <div class="atomic-structure-input" hidden="true">
              <div class="form-group">
                {{ main_form.lattice_constant_a.label_tag }}
                {{ main_form.lattice_constant_a.help_text|tooltip }}
                <div class="float-right">
                  <input type="file" id="import-lattice-parameters"
                         class="inputfile import-lattice-parameters">
                  <label for="import-lattice-parameters"><i class="fa fa-upload" aria-hidden="true"></i>
                    Import from file...</label>
                </div>
                <div class="input-group">
                  {{ main_form.lattice_constant_a }}
                  {{ main_form.lattice_constant_b }}
                  {{ main_form.lattice_constant_c }}
                </div>
              </div>
              <div class="form-group">
                {{ main_form.lattice_constant_alpha.label_tag }}
                <div class="input-group">
                  {{ main_form.lattice_constant_alpha }}
                  {{ main_form.lattice_constant_beta }}
                  {{ main_form.lattice_constant_gamma }}
                </div>
              </div>
              <div class="form-group">
                {% input_field main_form.atomic_coordinates %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end template -->

  <!-- fixed property template -->
  <div class="form-row fixed-property-template d-none">
    <div class="col-md-4 mb-3">
      <label for="fixed_property">Property</label>
      <select id="fixed_property" name="fixed_property" placeholder="--none--"></select>
    </div>
    <div class="col-md-4 mb-3">
      <label for="fixed_unit">Unit</label>
      <select id="fixed_unit" name="fixed_unit" placeholder="--none--"></select>
    </div>
    <div class="col-md-4 mb-3">
      <label for="fixed_value">Fixed value</label>
      <div class="input-group">
        <input class="form-control" name="fixed_value" type="text" maxlength="50" required>
        <div class="input-group-append">
          <button class="close-fixed-property btn btn-danger fa fa-times"
                  type="button" ></button>
        </div>
      </div>
    </div>
  </div>
  <!-- end template -->
{% endblock %}

{% block script %}
  {% load static %}
  <script src="{% static 'materials/javascript/ajax_csrf_setup.js' %}"></script>
  <script src="{% static 'materials/javascript/selectize.js' %}"></script>
  <script>
   // All dropdown menus are filled with data from a JSON request
   function fill_selectize(name, id, initial_value) {
     $.getJSON('/materials/get-dropdown-options/' + name, function(options) {
       $('#' + id).selectize({
         maxOptions: 500,
         sortField: 'text',
         items: [initial_value],
         options: options,
       });
       // Some events can only be triggered once certain dropdowns have loaded
       if (id === 'id_primary_property') {
         document.getElementById('id_primary_property').dispatchEvent(new Event('change'));
         document.getElementById('id_two_axes').dispatchEvent(new Event('change'));
       }
     });
   }
  </script>
  <script>
   // Use selectize on all dropdown menus
   {% for field in main_form.visible_fields %}
   {% if field.field.widget.input_type == 'select' %}
   fill_selectize('{{ field.name }}', '{{ field.id_for_label }}', {{ field.value|default_if_none:'' }});
   {% endif %}
   {% endfor %}
  </script>
  <script>
   // When entering data with multiple columns, set "Is figure" to true. Do this only once.
   var is_figure_untested = true;
   // Autofill the main input data textarea
   function autofill_data(el) {
     var i_subset = $(el).attr('id').split('import-data-file_')[1];
     var form_data = new FormData();
     form_data.append('file', el.files[0]);
     $(el).val('');  // Clear the file list
     $.ajax({
       url: "{% url 'materials:autofill_input_data' %}",
       type: 'POST',
       processData: false,
       contentType: false,
       dataType: 'text',
       data: form_data,
     }).done(function(result) {
       result = result.replace(/\n\r/g, '\n').replace(/\r/g, '\n'); // Windows
       var data = result.split(/&/);
       if (i_subset) {
         $('#id_subset_datapoints_' + i_subset).val(result);
       } else { // fill globally
         for (var i = 1; i <= $('#id_number_of_subsets').val(); i++) {
           $('#id_subset_datapoints_' + i).val(data[i-1].replace(/^\n/, ''));
         }
       }
       var is_figure = document.getElementById('id_is_figure');
       if (is_figure_untested && !is_figure.readOnly) {
         // If the are multiple lines and multiple columns, this is likely a figure.
         lines = data[0].split('\n', 2);
         if (lines.length > 1 && lines[0].split(' ').length > 1) {
           if (!is_figure.checked) {
             is_figure.checked = true;
             is_figure.dispatchEvent(new Event('change'));
           }
         }
         is_figure_untested = false;
       }
     }).fail(function(result) {
       if (!i_subset) i_subset = 1;
       $('#id_subset_datapoints_' + i_subset).val(result);
     });
   }
   $('#import-all-data').change(function() {
     if ($('#id_primary_property').find(':selected').text() === 'atomic structure') {
       import_lattice_parameters(this);
     } else {
       autofill_data(this);
     }
   });
  </script>
  <script>
   // Create a new data subset
   var counter_fixed = 0;
   function add_subset(i_subset) {
     // The name and id of each input is appended by _<i_subset>
     var copy = document.getElementsByClassName('data-subset-template')[0].cloneNode(true);
     copy.classList.remove('d-none', 'data-subset-template');
     copy.getElementsByClassName('card-header')[0].innerHTML = 'Subset #' + i_subset;
     var elements = copy.querySelectorAll('input, textarea');
     for (var i = 0; i < elements.length; i++) {
       elements[i].id += '_' + i_subset;
       elements[i].name += '_' + i_subset;
     }
     elements = copy.getElementsByTagName('label');
     for (var i = 0; i < elements.length; i++) {
       elements[i].htmlFor += '_' + i_subset;
     }
     copy.getElementsByClassName('fixed-properties')[0].id = 'fixed-properties-' + i_subset;
     var fixed_prop_btn = copy.getElementsByClassName('add-fixed-property')[0]
     fixed_prop_btn.id += 'add-fixed-property-' + i_subset;
     // Add a fixed property
     fixed_prop_btn.addEventListener('click', function() {
       add_fixed_property(i_subset, counter_fixed++);
     });
     copy.getElementsByClassName('import-data-file')[0].addEventListener('change', function() {
       autofill_data(this);
     });
     document.getElementById('data-subset').appendChild(copy);
   }
   // Create a new set of fixed property fields
   function add_fixed_property(subset, counter, prop_initial='', unit_initial='',
                               value_initial='') {
     var copy = document.getElementsByClassName('fixed-property-template')[0].cloneNode(true);
     var suffix = subset + '_' + counter;
     var el, name;
     copy.classList.remove('d-none', 'fixed-property-template');
     function edit_id_and_name(type) {
       name = 'fixed_' + type + '_' + suffix;
       el = copy.querySelector('[name="fixed_' + type + '"]');
       el.id = name;
       el.name = name;
     }
     edit_id_and_name('property');
     fill_selectize('property', name, prop_initial);
     edit_id_and_name('unit');
     fill_selectize('unit', name, unit_initial);
     edit_id_and_name('value');
     if (value_initial) {
       copy.querySelector('[name="fixed_value_' + suffix + '"]').value = value_initial;
     }
     // Remove a fixed property
     copy.getElementsByClassName('close-fixed-property')[0].addEventListener('click', function() {
       row = this.parentNode.parentNode.parentNode.parentNode;
       row.parentNode.removeChild(row);
     });
     document.getElementById('fixed-properties-' + subset).appendChild(copy);
   }
   var number_of_subsets = document.getElementById('id_number_of_subsets');
   number_of_subsets.addEventListener('change', function() {
     var data_subset = document.getElementById('data-subset');
     var n_subset_current = data_subset.children.length;
     var n_subset_requested = this.value;
     var n_to_add = n_subset_requested - n_subset_current;
     if (n_to_add > 0) {
       for (var i = 1; i <= n_to_add; i++) {
         add_subset(n_subset_current+i);
       }
     }
     if (n_to_add < 0) {
       for (var i = n_to_add; i < 0; i++) {
         data_subset.removeChild(data_subset.lastChild);
       }
     }
     if (data_subset.hasChildNodes()) {
       data_subset.firstChild.getElementsByClassName('subset-label-class')[0].disabled =
         n_subset_requested == 1;
     }
     document.getElementById('import-all-data').disabled = n_subset_requested == 0;
   });
   number_of_subsets.dispatchEvent(new Event('change'));
   // Prefill the data subsets from a previous instance of the form
   {% for name_counter, label, values in main_form.get_subset %}
   document.getElementById('id_subset_label_{{ name_counter }}').value = '{{ label|escapejs }}';
   document.getElementById('id_subset_datapoints_{{ name_counter }}').value = '{{ values|escapejs }}';
   {% endfor %}
   // Prefill fixed properties from a previous instance of the form
   {% for subset_counter, name_counter, prop, unit, value in main_form.get_fixed_properties %}
   add_fixed_property({{ subset_counter }}, {{ name_counter }},
                      '{{ prop|escapejs }}', '{{ unit|escapejs }}', '{{ value|escapejs }}');
   {% endfor %}
  </script>
  <script>
   // Collapsable sections of the input
   function toggleSectionInclusivity(button, hidden_field) {
     $(button).click(function() {
       if ($(hidden_field).val() === 'True') {
         $(hidden_field).val('False');
         $(button).css({'background': '#dce9ff'});
         $(button).html($(button).html().split('remove)')[0] + 'add)');
       } else {
         $(hidden_field).val('True');
         $(button).css({'background': '#f3ebff'});
         $(button).html($(button).html().split('add)')[0] + 'remove)');
       }
     });
   }
   toggleSectionInclusivity('#synthesis-button', '#id_with_synthesis_details');
   toggleSectionInclusivity('#experimental-button', '#id_with_experimental_details');
   toggleSectionInclusivity('#computational-button', '#id_with_computational_details');
  </script>
  <script>
   // Helper function for setting the value and freezing/unfreezing a checkbox
   function set_checkbox(id, value, freeze) {
     var el = document.getElementById(id);
     el.checked = value;
     if (freeze) {
       el.readOnly = true;
       el.onclick = function(event) { event.preventDefault(); };
     } else {
       el.readOnly = false;
       el.onclick = null;
     }
     el.dispatchEvent(new Event('change'));
   }
  </script>
  <script>
   $('#id_two_axes').change(function(event, force_hide=false) {
     if ($(this).is(':checked') && !force_hide) {
       $('#id_secondary_property').parent().show();
       $('#id_secondary_unit').parent().show();
       $('#id_secondary_property_label').parent().show();
       $('label[for="id_primary_property-selectized"]').html('Primary property (y-axis)');
       $('.subset-datapoints').attr('placeholder', 'x1 y1\nx2 y2\n...');
     } else {
       $('#id_secondary_property').parent().hide();
       $('#id_secondary_unit').parent().hide();
       $('#id_secondary_property_label').parent().hide();
       $('label[for="id_primary_property-selectized"]').html('Primary property');
       $('.subset-datapoints').attr('placeholder', 'value_1 value_2 ...');
     }
   });
  </script>
  <script>
   // If figure then "Two axes" must be enabled
   var is_figure = document.getElementById('id_is_figure');
   is_figure.addEventListener('change', function() {
     set_checkbox('id_two_axes', this.checked, this.checked);
   });
   is_figure.dispatchEvent(new Event('change'));
  </script>
  <script>
   // Atomic structure specific
   $('#id_primary_property').change(function() {
     var is_atomic_structure =
       $('#id_primary_property').find(':selected').text() === 'atomic structure';
     if (is_atomic_structure) {
       $('.atomic-structure-input').attr('hidden', false);
       $('.normal-input').hide();
       set_checkbox('id_is_figure', false, true);
       set_checkbox('id_two_axes', false, true);
     } else {
       $('.atomic-structure-input').attr('hidden', true);
       $('.normal-input').show();
       if (document.getElementById('id_is_figure').readOnly) {
         set_checkbox('id_is_figure', false, false);
         set_checkbox('id_two_axes', false, false);
       }
     }
     // Make atomic structure related fields required only if this property has been selected
     $('input[name^="lattice_constant_"]').each(function() {
       $(this).prop('required', is_atomic_structure);
     });
     $('textarea[name^="subset_datapoints_"]').each(function() {
       $(this).prop('required', !is_atomic_structure);
     });
   });
   function import_lattice_parameters(el) {
     var i_subset = $(el).attr('id').split('import-lattice-parameters_')[1];
     var form_data = new FormData();
     form_data.append('file', el.files[0]);
     $(el).val('');  // Clear the file list
     $.ajax({
       url: "{% url 'materials:autofill_input_data' %}",
       type: 'POST',
       processData: false,
       contentType: false,
       dataType: 'text',
       data: form_data,
     }).done(function(response) {
       var a, b, c, alpha, beta, gamma;
       function process_batch(input_data, dest_suffix) {
         lines = input_data.split('\n');
         var aims_format = false;
         for (var i = 0; i < lines.length; i++) {
           if (lines[i].match(/^ *lattice_vector/)) {
             aims_format = true;
             break;
           }
         }
         if (aims_format) {
           // Generate the atomic structure (lattice constants and angles)
           // from lattice vectors
           lattice_vectors = [];
           var regex = /^ *lattice_vector\s+(-?\d+(?:\.\d+)?)\s+(-?\d+(?:\.\d+)?)\s+(-?\d+(?:\.\d+)?)\b/;
           var match_;
           for (var i = 0; i < lines.length; i++) {
             match_ = lines[i].match(regex);
             if (match_) {
               lattice_vectors.push([match_[1], match_[2], match_[3]]);
             }
           }
           var norm = vector =>
             Math.sqrt(Math.pow(vector[0],2)+Math.pow(vector[1],2)+Math.pow(vector[2],2));
           var get_angle = (v1, v2, norm1, norm2) =>
             Math.acos((v1[0]*v2[0]+v1[1]*v2[1]+v1[2]*v2[2])/norm1/norm2)*360/2/Math.PI;
           if (lattice_vectors.length < 3) {
             throw 'Unable to read in three lattice vectors!';
           }
           a = norm(lattice_vectors[0]);
           b = norm(lattice_vectors[1]);
           c = norm(lattice_vectors[2]);
           alpha = get_angle(lattice_vectors[1], lattice_vectors[2], b, c);
           beta = get_angle(lattice_vectors[0], lattice_vectors[2], a, c);
           gamma = get_angle(lattice_vectors[0], lattice_vectors[1], a, b);
         } else {
           // Read the atomic structure directly from an input file
           var nr_reg = /\b([a-z]+)\s+(-?(?:\d+(?:\.\d+)?|\.\d+)(?:\(\d+(?:\.\d+)?\)|\b))/g;
           var matches = [];
           while (matches = nr_reg.exec(input_data)) {
             switch(matches[1]) {
               case 'a': a = matches[2]; break;
               case 'b': b = matches[2]; break;
               case 'c': c = matches[2]; break;
               case 'alpha': alpha = matches[2]; break;
               case 'beta': beta = matches[2]; break;
               case 'gamma': gamma = matches[2]; break;
             }
           }
           input_data = '';
         }
         $('#id_lattice_constant_a_' + dest_suffix).val(a);
         $('#id_lattice_constant_b_' + dest_suffix).val(b);
         $('#id_lattice_constant_c_' + dest_suffix).val(c);
         $('#id_lattice_constant_alpha_' + dest_suffix).val(alpha);
         $('#id_lattice_constant_beta_' + dest_suffix).val(beta);
         $('#id_lattice_constant_gamma_' + dest_suffix).val(gamma);
         $('#id_atomic_coordinates_' + dest_suffix).val(input_data);
       }
       try {
         if (i_subset) {
           process_batch(response, i_subset);
         } else {
           response = response.replace(/\n\r/g, '\n').replace(/\r/g, '\n'); // Windows
           var data = response.split('&');
           for (var i = 0; i < data.length; i++) {
             if (data[i]) {
               process_batch(data[i].replace(/^\n/, ''), i+1);
             }
           }
         }
       } catch(e) {
         $('#id_atomic_coordinates_1').val(e);
       }
     }).fail(function(response) {
       if (!i_subset) i_subset = 1;
       $('#id_atomic_coordinates_' + i_subset).html(response);
     });
   }
   $('.import-lattice-parameters').change(function() {
     import_lattice_parameters(this);
   });
   // Prefill from a previous instance of the form
   {% for subset_counter, a, b, c, alpha, beta, gamma, coordinates in main_form.get_lattice_parameters %}
   $('#id_lattice_constant_a_{{ subset_counter }}').val('{{ a|escapejs }}');
   $('#id_lattice_constant_b_{{ subset_counter }}').val('{{ b|escapejs }}');
   $('#id_lattice_constant_c_{{ subset_counter }}').val('{{ c|escapejs }}');
   $('#id_lattice_constant_alpha_{{ subset_counter }}').val('{{ alpha|escapejs }}');
   $('#id_lattice_constant_beta_{{ subset_counter }}').val('{{ beta|escapejs }}');
   $('#id_lattice_constant_gamma_{{ subset_counter }}').val('{{ gamma|escapejs }}');
   $('#id_atomic_coordinates_{{ subset_counter }}').val('{{ coordinates|escapejs }}');
   {% endfor %}
  </script>
  <script>
   // Band structures
   var band_structure_selected = false;
   $('#id_primary_property').change(function() {
     primary_unit = $(this).parent().next();
     if ($(this).find(':selected').text() == 'band structure') {
       primary_unit.hide();
       $('#id_two_axes').trigger('change', force_hide=true).prop('disabled', true);
       number_of_subsets.readOnly = true;
       number_of_subsets.value = 1;
       number_of_subsets.dispatchEvent(new Event('change'));
       band_structure_selected = true;
       set_checkbox('id_is_figure', false, true);
       set_checkbox('id_two_axes', false, true);
       $('.subset-datapoints').attr('placeholder', '# K-point path\nX L\nL Gamma\n...');
     } else if (band_structure_selected) {
       primary_unit.show();
       $('#id_two_axes').trigger('change').prop('disabled', false);
       number_of_subsets.readOnly = false;
       band_structure_selected = false;
       set_checkbox('id_is_figure', false, false);
       set_checkbox('id_two_axes', false, false);
     }
   });
   // Attempt to autofill the k-path textarea from control.in if present
   document.getElementById('id_uploaded_files').addEventListener('change', function() {
     var primary_prop = document.getElementById('id_primary_property');
     if (primary_prop.options[primary_prop.selectedIndex].text == 'band structure' &&
         !document.getElementById('id_subset_datapoints_1').value) {
       var control_file = null;
       for (var i = 0; i < this.files.length; i++) {
         if (this.files[i].name == 'control.in') {
           control_file = this.files[i];
           break;
         }
       }
       if (control_file) {
         var form_data = new FormData();
         form_data.append('file', control_file);
         $.ajax({
           url: "{% url 'materials:extract_k_from_control_in' %}",
           type: 'POST',
           processData: false,
           contentType: false,
           dataType: 'text',
           data: form_data,
         }).done(function(result) {
           result = result.replace(/\n\r/g, '\n').replace(/\r/g, '\n'); // Windows
           document.getElementById('id_subset_datapoints_1').value = result;
         }).fail(function(result) {});
       }
     }
   });
  </script>
{% endblock %}
