<div style="padding-bottom: 10px">
  <i><strong>Important:</strong> Please complete all author fields -- enter N/A if necessary.</i>
</div>
{% for author_form in author_formset %}
  <table>
    <th>Author {{ forloop.counter }}:</th>
    <tr>
      <td style="padding-left: 20px">First name:</td>
      <td style="padding-left: 20px">Last name:</td>
      <td style="padding-left: 20px">Institution:</td>
    </tr>
    <tr>
      <td style="padding-left: 20px">{{ author_form.first_name }}</td>
      <td style="padding-left: 20px">{{ author_form.last_name }}</td>
      <td style="padding-left: 20px">{{ author_form.institution }}</td>
    </tr>
  </table>
{% endfor %}
