{% extends 'materials/all_entries.html' %}

{% block heading %}Synthesis Methods{% endblock %}

{% block entry_type %}
  {% if entry.synthesis_method %}
    <div style="margin-left: 20px; text-indent: -20px;">
      <strong>Method:</strong> {{entry.synthesis_method}}
    </div>
  {% endif %}
  {% if entry.starting_materials %}
    <div style="margin-left: 20px; text-indent: -20px;">
      <strong>Starting Materials: </strong>{{entry.starting_materials}}
    </div>
  {% endif %}
  {% if entry.remarks %}
    <div style="margin-left: 20px; text-indent: -20px;">
      <strong>Remarks:</strong> {{entry.remarks}}
    </div>
  {% endif %}
  {% if entry.product %}
    <div style="margin-left: 20px; text-indent: -20px;">
      <strong>Product:</strong> {{entry.product}}
    </div>
  {% endif %}
{% endblock %}

{% block dl_link %}
  <a href="{% url "materials:data_dl" type="synthesis" pk=entry.pk %}">
    <button type="button" class="btn btn-primary"/>
    <span class="fa fa-download" aria-hidden="true"></span>
    Synthesis Method
        </button>
  </a>
{% endblock %}
