{% extends 'materials/all_entries.html' %}

{% block heading %}Band Structures{% endblock %}

{% block bs_graph %}
  {% if entry.plotted and entry.visible %}
    <div class="tab-content">
      <div id="home{{ forloop.counter }}" class="tab-pane fade show active">
        <img src="{{ entry.getFullBSPath }}" alt="Band Structure" width="500">
      </div>
      <div id="mini{{ forloop.counter }}" class="tab-pane fade">
        <img src="{{ entry.getMiniBSPath }}" alt="Band Structure" width="500">
      </div>
    </div>
    <ul class="nav nav-tabs nav-tabs-band-structure">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home{{ forloop.counter }}">Full size</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#mini{{ forloop.counter }}">Zoomed</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block entry_type %}
  Band gap:
  <span style="font-weight: normal;">
    {% if entry.band_gap|length > 0 %}
      {{ entry.band_gap }} eV
    {% else %} N/A
    {% endif %}
  </span>
{% endblock %}

{% block dl_link %}
  {% if entry.folder_location|length > 0 and entry.plotted %}
    <a href="{% url "materials:data_dl" data_type="band_structure" pk=entry.pk %}">
      <button type="button" class="btn btn-primary"/>
      <span class="fa fa-download-alt" aria-hidden="true"></span>
      Band Structure
    </button>
    </a>
  {% endif %}
  {% if entry.band_gap != '' %}
    <a href="{% url "materials:data_dl" data_type="band_gap" pk=entry.pk %}">
      <button type="button" class="btn btn-primary"/>
      <span class="fa fa-download-alt" aria-hidden="true"></span>
      Band Gap
      </button>
    </a>
  {% endif %}
  <a href="{% url "materials:data_dl" data_type="band_structure" pk=entry.pk %}">
    <button type="button" class="btn btn-primary"/>
    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
    Input files
      </button>
  </a>
{% endblock %}

{% block related_synthesis %}
  {% with entry.synthesis_method as syn %}
    {% with syn as entry %}
      {% with syn.getAuthors as authors %}
        {% if syn %}
          <button type="button" class="btn btn-warning" data-toggle="popover"
                  title="Related Synthesis Method" data-trigger="focus" html="true"
                  data-content='<u>Method {{ syn.methodNumber }}</u> (see synthesis methods page) <br> {% if syn.synthesis_method %} <br>
                        <div>
                        <b>Method:</b> {{ syn.synthesis_method|truncatechars:50 }}</div>
                  {% endif %}
                        {% if syn.starting_materials %}
                        <div>
                        <b>Starting Materials:</b> {{ syn.starting_materials|truncatechars:50 }}
                        </div>
                        {% endif %}
                        {% if syn.remarks %}
                        <div>
                        <b>Remarks:</b> {{ syn.remarks|truncatechars:50 }}
                        </div>
                        {% endif %}
                        {% if syn.product %}
                        <div>
                        <b>Product:</b> {{ syn.product|truncatechars:50 }}
                        </div>
                        {% endif %}<b>Reference:</b>
                        {% include 'materials/reference_format.html' with ref=entry.reference %}'>
            <span class="fa fa-book" aria-hidden="true"></span>
            Synthesis Method
          </button>
        {% endif %}
      {% endwith %}
    {% endwith %}
  {% endwith %}
{% endblock %}
