{% if search_result.count > 0 %}
<div class="form-group">
  <label for="reference">Select reference name: </label>
  <select id="reference" name="reference" class="form-control" required>
  {% for pub in search_result %}
   <option value={{ pub.pk }}>{{ pub.title|truncatechars:100 }}, {{ pub.author }} {{ pub.year }}, {{ pub.journal }} </option>
  {% endfor %}
</div>
{% else %}
<div class="alert alert-warning" role="alert">
  No results found. Please retry with a new search term or
  <a class="alert-link" target="_blank" href="{% url 'materials:add_reference' %}">click here to add a reference</a>.
</div>
{% endif %}
