{% if search_result.count > 0 %}
<div class="form-group">
  <label for="author">Select author name: </label>
  <select id="author" name="author" class="form-control" required>
  {% for author in search_result %}
   <option value={{ author.pk }}>{{ author.first_name }} {{ author.last_name }}, {{ author.institution }}</option>
  {% endfor %}
</div>
{% else %}
  <div class="alert alert-warning" role="alert">
    No results found. Please retry with a new search term or
    <a class="alert-link" target="_blank" href="{% url 'materials:add_author' %}">click here to add an author</a>.
  </div>
{% endif %}
