<h1>&nbsp;</h1>
<div class="card">
  <div class="card-header">Atomic coordinates</div>
  <div class="card-body">
    <div id="jmol"></div>
    <br>
    {% for series in dataset.dataseries_set.all %}
      {% if series.datapoints.count > 6 %}
        <div class="text-center">
          <button class="text-center btn btn-default expand-hide-button"
                  data-toggle="collapse"
                  data-target="#atomic-coordinates-body-{{ series.pk }}">
            Atomic coordinates (click to expand)
          </button>
        </div>
      {% endif %}
      <div class="collapse" id="atomic-coordinates-body-{{ series.pk }}"></div>
    {% endfor %}
  </div>
</div>
