<h1>&nbsp;</h1>
<div class="card">
  <div class="card-header">Atomic coordinates</div>
  <div class="card-body">
    <div id="jmol" class="jsmol"></div>
    <br>
    {% for subset in dataset.subsets.all %}
      {% if subset.first_with_atomic_coordinates %}
        <div class="text-center">
          <button class="text-center btn btn-default expand-hide-button"
                  data-toggle="collapse"
                  data-target="#atomic-coordinates-body-jsmol-{{ subset.pk }}">
            Atomic coordinates (click to expand)
          </button>
        </div>
      {% endif %}
      <div class="collapse" id="atomic-coordinates-body-jsmol-{{ subset.pk }}"></div>
    {% endfor %}
  </div>
</div>
