<div class="panel-body">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>License</h4>
      </div>
      <div class="panel-body">
        All data is available under the Creative Commons license with attribution clause, described <a href="https://creativecommons.org/licenses/by/4.0/" target=_blank>here</a> and, in its full text, <a href="https://creativecommons.org/licenses/by/4.0/legalcode" target=_blank>here</a>.
      </div>
    </div>
  </div>
</div>
