{% extends 'materials/base.html' %}

{# List all data sets linked to a given data set #}

{% block body %}
  <div class="card card-default">
    <div class="card-header">
      <h3>These data sets are directly related (linked) to each other</h3>
    </div>
    <div class="card-body">
      <div class="row">
        {% for dataset in object_list %}
          {% if user == dataset.created_by or dataset.visible %}
            <div class="col-md-6">
              <div class="card card-item">
                {% if not dataset.visible %}
                  <div style="background:#fadb9b">
                {% endif %}
                <div class="card-header">
                  <h5>{{ dataset.primary_property.name|capfirst }}</h5>
                  {% if user == dataset.created_by %}
                    {% include 'materials/dataset_buttons.html' with system=dataset.system %}
                  {% endif %}
                </div>
                {% if not dataset.visible %}
                  </div>
                {% endif %}
                <div class="card-body">
                  {% include 'materials/dataset_contents.html' with with_reference=True with_all_entries=True %}
                </div>
              </div>
              <br>
            </div>
          {% endif %}
        {% endfor %}
        {% include "materials/license_note.html" %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% include 'materials/dataset_scripts.html' with datasets=object_list %}
{% endblock %}
