{% extends 'materials/materials_base.html' %}
{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'materials/css/system.css' %}">

<div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading">
    <b>Material</b>
    <h3>{{object.compound_name}}</h3>
    </div>
    <div class="panel-body">
        {% with object.atomicpositions_set.all|first as entry %}
          <div class="col-md-8">
          <h4>Molecular Model</h4>
        {% if entry.fhi_file %}
          <div id="jmol"></div>
        {% else %}
          <h3>Atomic Positions file unavailable</h3>
        {% endif %}
          </div>

          <div class="col-md-4">
          <h4>Atomic Positions</h4>
          {% if entry %}
            <div class="col-md-6 details-a-pos">
              a: {{entry.a}} <br>
              b: {{entry.b}} <br>
              c: {{entry.c}} <br>
            </div>
            <div class="col-md-6 details-a-pos">
              &alpha;: {{entry.alpha}} <br>
              &beta;: {{entry.beta}} <br>
              &gamma;: {{entry.gamma}} <br>
            </div>
            <div>
              Crystal system: {{entry.phase}} <br>
              {% if entry.temperature %}
              Temperature: {{entry.temperature}}K <br>
              {% endif %}
              Method: {{entry.method}} <br>
              Source: {{entry.publication.author}} <br>
              {% if entry.publication.doi_isbn %}
              Publication: {{entry.publication.doi_isbn}} <br>
              {% endif %}
            </div>
            <a href="{% url "materials:data_dl" type="atomic_positions" id=entry.id %}">
            <button type="button" class="btn btn-primary"/>
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            Atomic Positions
            </button>
            </a>
            {% else %}
              <h3>No data available</h3>
            {% endif %}

            {% if object.atomicpositions_set.all|length > 1 %}
              <a href="{% url "materials:all_a_pos" id=object.id %}">
              <button type="button" class="btn btn-info">
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
              See all entries
              </button>
              </a>
            {% endif %}
          </div>
    {% endwith %}
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td>
          {% with entry=object.excitonemission_set.all|first %}
          <h4>PL Graph</h4>

          {% if entry.pl_file %}
            <div id="pl-graph"></div>
          {% else %}
          <h3>PL file unavailable</h3>
          {% endif %}

          {% if entry %}
            Exciton Emission Peak: {{entry.exciton_emission}}nm <br>
            {% if entry.temperature %}
              Temperature: {{entry.temperature}}K <br>
            {% endif %}
            Crystal system: {{entry.phase}} <br>
            Method: {{entry.method}} <br>
            Source: {{entry.publication.author}} <br>
            {% if entry.publication.doi_isbn %}
              Publication: {{entry.publication.doi_isbn}} <br>
            {% endif %}
            <a href="{% url "materials:data_dl" type="exciton_emission" id=entry.id %}">
            <button type="button" class="btn btn-primary"/>
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            Exciton Emission Peak
            </button>
            </a>
          {% else %}
            <h3>No data available</h3>
          {% endif %}

          {% if object.excitonemission_set.all|length > 1 %}
            <a href="{% url "materials:all_entries" id=object.id type="exciton_emission" %}">
            <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            See all entries
            </button>
            </a>
          {% endif %}
          {% endwith %}
        </td>
        <!-- <td>
          <h4>Band Gap</h4>
          {% with entry=object.bandgap_set.all|first %}
            {% if entry %}
            <p class="details">{{entry.band_gap}} eV</p>
            Phase: {{entry.phase}} <br>
            Temperature: {{entry.temperature}}K <br>
            Method: {{entry.method}} <br>
            Source: {{entry.publication.author}} <br>
            {% if entry.publication.doi_isbn %}
            Publication: {{entry.publication.doi_isbn}} <br>
            {% endif %}
            <a href="{% url "materials:data_dl" type="band_gap" id=entry.id %}">Download Band Gap</a>
            {% else %}
            <h3>No data available</h3>
            {% endif %}
            {% if object.bandgap_set.all|length > 1 %}
            <br>
            <a href="{% url "materials:all_entries" id=object.id type="band_gap"%}">See all entries</a>
            {% endif %}
          {% endwith %}
        </td> -->
        <td>
            <h4>Band Structure</h4>
            {% with entry=object.bandstructure_set.all|first %}
              {% if entry.folder_location %}
              <div id="bs-graph"></div>
              {% else %}
              <h3>Band Structure file unavailable</h3>
              {% endif %}

              {% if entry %}
                {% if entry.temperature %}
                Temperature: {{entry.temperature}}K <br>
                {% endif %}
                Crystal system: {{entry.phase}} <br>
                Method: {{entry.method}} <br>
                Source: {{entry.publication.author}} <br>
                {% if entry.publication.doi_isbn %}
                Publication: {{entry.publication.doi_isbn}} <br>
                {% endif %}
                <a href="{% url "materials:data_dl" type="band_structure" id=entry.id %}">
                <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                Band Structure
                </button>
                </a>
              {% else %}
                <h3>No data available</h3>
              {% endif %}

              {% if object.bandstructure_set.all|length > 1 %}
                <a href="{% url "materials:all_entries" id=object.id type="band_structure" %}">
                <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                See all entries
                </button>
                </a>
              {% endif %}
            {% endwith %}
        </td>
      </tr>
    </table>
    </div>
</div>

{% endblock %}
{% block script %}
<!-- could potentially change to server served -->
{% with entry=object.excitonemission_set.all|first %}
<script type="text/javascript">
$('#pl-graph').load("../media/uploads/{{entry.phase}}_{{object.organic}}_{{object.inorganic}}_pl.html");
</script>
{% endwith %}
{% with entry=object.bandstructure_set.all|first %}
<script type="text/javascript">
$('#bs-graph').load("../media/uploads/{{entry.phase}}_{{object.organic}}_{{object.inorganic}}_bs/{{entry.phase}}_{{object.organic}}_{{object.inorganic}}_bs.html");
</script>
{% endwith %}
{% with entry=object.atomicpositions_set.all|first %}
<script src="{% static 'jsmol/JSmol.min.js' %}"></script>
<script>
$(document).ready(function() {
  $('#jmol').html(
    Jmol.getAppletHtml("jmolApplet0", {
    script: "load /media/uploads/{{entry.phase}}_{{object.organic}}_{{object.inorganic}}_apos.in",
    j2sPath: "{% static 'jsmol/j2s' %}",
    height: 400,
    width: 600,
    })
  )
});
</script>
{% endwith %}
{% endblock %}
