{% extends 'materials/materials_base.html' %}
{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'materials/css/system.css' %}">

<div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading">
    <b>Material</b>
    <h3>{{object.compound_name}}</h3>
    </div>
    <div class="panel-body">
        {% with object.atomicpositions_set.all|first as entry %}
          <div class="col-md-8">
            <div class="panel panel-primary">
              <div class="panel-heading"><h4>Molecular Model</h4></div>
              <div class="panel-body">
                {% if entry.fhi_file %}
                  <div id="jmol"></div>
                {% else %}
                  <h3>Atomic Positions file unavailable</h3>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading"><h4>Atomic Positions</h4></div>
              <div class="panel-body">
                {% if entry %}
                  <div class="col-md-6 details-a-pos">
                    a: {{entry.a}} <br>
                    b: {{entry.b}} <br>
                    c: {{entry.c}} <br>
                  </div>
                  <div class="col-md-6 details-a-pos">
                    &alpha;: {{entry.alpha}} <br>
                    &beta;: {{entry.beta}} <br>
                    &gamma;: {{entry.gamma}} <br>
                  </div>
                  <div>
                    Crystal system: {{entry.phase}} <br>
                    {% if entry.temperature %}
                    Temperature: {{entry.temperature}}K <br>
                    {% endif %}
                    Method: {{entry.method}} <br>
                    {% if entry.publication.doi_isbn %}
                    Publication: {{entry.publication.doi_isbn}} <br>
                    {% endif %}
                    Source: {{entry.source}} <br>
                    Data extraction: {{entry.data_extraction_method}} <br>
                  </div>
                  <a href="{% url "materials:data_dl" type="atomic_positions" id=entry.id %}">
                  <button type="button" class="btn btn-primary"/>
                  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                  Atomic Positions
                  </button>
                  </a>
                  <button type="button" class="btn btn-warning" data-toggle="popover" title="Reference information" data-trigger="focus" html="true"
                  data-content="{{entry.publication.author.last_name}}, {{entry.publication.author.first_name|slice:":1"}}. {{entry.publication}}. <em>{{entry.publication.journal}}</em> <strong>{{entry.publication.vol}},</strong> {{entry.publication.pages_start}}-{{entry.publication.pages_end}} ({{entry.publication.year}}) {{entry.publication.doi_isbn}}">
                  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    Reference
                  </button>
                  {% else %}
                    <h3>No data available</h3>
                  {% endif %}

                  {% if object.atomicpositions_set.all|length > 1 %}
                    <a href="{% url "materials:all_a_pos" id=object.id %}">
                    <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    See all entries
                    </button>
                    </a>
                  {% endif %}
              </div>
            </div>
              <div class="panel panel-info">
                <div class="panel-heading"><h4>Synthesis Method</h4></div>
                <div class="panel-body">
                  {% with entry=object.synthesismethod_set.all|first %}
                    {% if entry %}
                    <p class="details">{{entry.synthesis_method|truncatechars:50}}</p>
                    Phase: {{entry.phase}} <br>
                    Temperature: {{entry.temperature}}K <br>
                    Method: {{entry.method}} <br>
                    {% if entry.publication.doi_isbn %}
                    Publication: {{entry.publication.doi_isbn}} <br>
                    {% endif %}
                    Source: {{entry.source}} <br>
                    Data extraction: {{entry.data_extraction_method}} <br>
                    <a href="{% url "materials:data_dl" type="synthesis" id=entry.id %}">
                    <button type="button" class="btn btn-primary"/>
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Synthesis Method
                    </button>
                    </a>
                    <button type="button" class="btn btn-warning" data-toggle="popover" title="Reference information" data-trigger="focus"
                    data-content="{{entry.publication.author.last_name}}, {{entry.publication.author.first_name|slice:":1"}}. {{entry.publication}}. <em>{{entry.publication.journal}}</em> <strong>{{entry.publication.vol}},</strong> {{entry.publication.pages_start}}-{{entry.publication.pages_end}} ({{entry.publication.year}}) {{entry.publication.doi_isbn}}">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                      Reference
                    </button>
                    {% else %}
                    <h3>No data available</h3>
                    {% endif %}
                    {% if object.synthesismethod_set.all|length > 1 %}
                    <a href="{% url "materials:all_entries" id=object.id type="synthesis"%}">
                    <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    See all entries
                    </button>
                    </a>
                    {% endif %}
                  {% endwith %}
                </div>
              </div>
          </div>
    {% endwith %}
  </div>
  <div class="panel-body">
      <div class="col-md-6">
        {% with entry=object.excitonemission_set.all|first %}
        <div class="panel panel-info">
          <div class="panel-heading"><h4>PL Graph</h4></div>
          <div class="panel-body">
            {% if entry.plotted %}
              <div id="pl-graph"></div>
            {% elif entry.pl_file %}
            <h3>PL graph is being plotted</h3>
            {% else %}
            <h3>PL file unavailable</h3>
            {% endif %}
            {% if entry %}
              Exciton Emission Peak: {{entry.exciton_emission}}nm <br>
              {% if entry.temperature %}
                Temperature: {{entry.temperature}}K <br>
              {% endif %}
              Crystal system: {{entry.phase}} <br>
              Method: {{entry.method}} <br>
              {% if entry.publication.doi_isbn %}
                Publication: {{entry.publication.doi_isbn}} <br>
              {% endif %}
              Source: {{entry.source}} <br>
              Data extraction: {{entry.data_extraction_method}} <br>
              <a href="{% url "materials:data_dl" type="exciton_emission" id=entry.id %}">
              <button type="button" class="btn btn-primary"/>
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
              Exciton Emission Peak
              </button>
              </a>
              <button type="button" class="btn btn-warning" data-toggle="popover" data-trigger="focus" title="Reference information"
              data-content="{{entry.publication.author.last_name}}, {{entry.publication.author.first_name|slice:":1"}}. {{entry.publication}}. <em>{{entry.publication.journal}}</em> <strong>{{entry.publication.vol}},</strong> {{entry.publication.pages_start}}-{{entry.publication.pages_end}} ({{entry.publication.year}}) {{entry.publication.doi_isbn}}">
              <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                Reference
              </button>
            {% else %}
              <h3>No data available</h3>
            {% endif %}

            {% if object.excitonemission_set.all|length > 1 %}
              <a href="{% url "materials:all_entries" id=object.id type="exciton_emission" %}">
              <button type="button" class="btn btn-info">
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
              See all entries
              </button>
              </a>
            {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>

        <div class="col-md-6">
          {% with entry=object.bandstructure_set.all|first %}
          <div class="panel panel-info">
            <div class="panel-heading"><h4>Band Structure</h4></div>
            <div class="panel-body">
              {% if entry.plotted and entry.visible %}
              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                  <div id="bs-graph-full"></div>
                </div>
                <div id="mini" class="tab-pane fade">
                  <div id="bs-graph-mini"></div>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Full size</a></li>
                <li><a data-toggle="tab" href="#mini">Zoomed</a></li>
              </ul>
              {% elif entry.folder_location and entry.visible %}
              <h3>Band Structure is being plotted</h3>
              {% else %}
              <h3>Band Structure file unavailable</h3>
              {% endif %}
              {% if entry.visible %}
                {% if entry.temperature %}
                Temperature: {{entry.temperature}}K <br>
                {% endif %}
                Crystal system: {{entry.phase}} <br>
                Method: {{entry.method}} <br>
                Source: {{entry.source}} <br>
                Data extraction: {{entry.data_extraction_method}} <br>
                <a href="{% url "materials:data_dl" type="band_structure" id=entry.id %}">
                <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                  Band Structure
                </button>
                </a>
                <button type="button" class="btn btn-info" data-toggle="popover" data-trigger="focus" title="Reference information"
                data-content="{{entry.publication.author.last_name}}, {{entry.publication.author.first_name|slice:":1"}}. {{entry.publication}}. <em>{{entry.publication.journal}}</em> <strong>{{entry.publication.vol}},</strong> {{entry.publication.pages_start}}-{{entry.publication.pages_end}} ({{entry.publication.year}}) {{entry.publication.doi_isbn}}">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                  Reference
                </button>
              {% else %}
                <h3>No data available</h3>
              {% endif %}
              {% if object.bandstructure_set.all|length > 1 and entry.visible %}
                <a href="{% url "materials:all_entries" id=object.id type="band_structure" %}">
                <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                See all entries
                </button>
                </a>
              {% endif %}
            {% endwith %}
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
var citation = "{{entry.publication.doi_isbn}}";
$('[data-toggle="popover"]').popover({placement: "top", html:true});
</script>
<!-- could potentially change to server served -->
{% with entry=object.excitonemission_set.all|first %}
<script type="text/javascript">
$('#pl-graph').load("../media/uploads/{{entry.phase}}_{{object.organic}}_{{object.inorganic}}_pl.html");
</script>
{% endwith %}
{% with entry=object.bandstructure_set.all|first %}
<script type="text/javascript">
var imglinkfull = '../media/uploads/{{entry.phase}}_{{system.organic}}_{{system.inorganic}}_bs/{{entry.phase}}_{{system.organic}}_{{system.inorganic}}_bs_full.png';
var imglinkmini = '../media/uploads/{{entry.phase}}_{{system.organic}}_{{system.inorganic}}_bs/{{entry.phase}}_{{system.organic}}_{{system.inorganic}}_bs_min.png';
$('#bs-graph-full').html("<img src=" + imglinkfull + " width='500'/>");
$('#bs-graph-mini').html("<img src=" + imglinkmini + " width='500'/>");
</script>
{% endwith %}
{% with entry=object.atomicpositions_set.all|first %}
<script src="{% static 'jsmol/JSmol.min.js' %}"></script>
<script>
$(document).ready(function() {
  $('#jmol').html(
    Jmol.getAppletHtml("jmolApplet0", {
    script: "load /media/uploads/{{entry.phase}}_{{object.organic}}_{{object.inorganic}}_apos.in",
    j2sPath: "{% static 'jsmol/j2s' %}",
    height: 450,
    width: 500,
  }));
});
</script>
{% endwith %}
{% endblock %}
