{% extends 'materials/materials_template.html' %}

{% block heading %}
<h4>Search for Materials</h4>
{% endblock %}

{% block mainbody %}
<form id="search-system" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="search_text">Search term: </label>
      <div class="input-group">
        <div class="input-group-btn">
          <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li>Compound Name</li>
            <li>Inorganic Component</li>
            <li>Organic Component</li>
            <li>Tags</li>
          </ul> -->
          <select id="search_term" name="search_term" class="selectpicker">
            {% for search_term in search_terms %}
            <option value="{{search_term.0}}">{{search_term.1}}</option>
            {% endfor %}
          </select>
        </div>
        <input id="search_text" class="form-control" type="text" name="search_text" required/>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
</form>
<br>
<ul id="results" class="list-group">
</ul>
{% endblock %}

{% block script %}
{% include 'materials/ajax_form_submit.html' %}
<script type="text/javascript">
  $('#search_term').change(function() {
      if(this.value == "exciton_emission")
      $('#search_text').attr("placeholder", "Search by range using > | >= | < | <= or a combination");
    });
 ajax_submit($('#search-system'), $('#results'));
</script>
{% endblock %}
