{% extends 'mainproject/base.html' %}

{% block navbar %}
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">HybriD&#xb3; database</a>
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
              data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'materials:materials_home' %}">Materials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://hybrid3.duke.edu/">HybriD<sup>3</sup> project</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'materials:add_data' %}">Add Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:home' %}">Accounts</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
  </nav>
{% endblock %}
