{% extends 'materials/nav.html' %}

{% block body %}
  {% load static %}
  <br>
  <div class="card card-default">
    <div class="card-header">
      <h3>{{ object_list.0.system }}: {{ object_list.0.primary_property }}</h3>
    </div>

    <div class="card-body">
      <div class="row">

        {% for dataset in object_list %}
          {% if user == dataset.created_by or dataset.visible %}
            <div class="col-md-6">
              <div class="card card-item">
                {% if not dataset.visible %}
                  <div style="background:#fadb9b">
                {% endif %}
                <div class="card-header">
                    {% if dataset.experimental %}
                      <h5>Experimental</h5>
                    {% else %}
                      <h5>Theoretical</h5>
                    {% endif %}
                  {% if user == dataset.created_by %}
                    {% include 'materials/dataset_buttons.html' with object=dataset %}
                  {% endif %}
                </div>
                {% if not dataset.visible %}
                  </div>
                {% endif %}
                <div class="card-body">
                  {% include 'materials/dataset_main_data.html' %}
                  {% include 'materials/dataset_system_description.html' %}
                  {% include 'materials/dataset_fixed_parameters.html' %}
                  {% include 'materials/dataset_synthesis_method.html' %}
                  {% include 'materials/dataset_experimental_details.html' %}
                  {% include 'materials/dataset_computational_details.html' %}
                  {% include 'materials/dataset_reference.html' %}
                  {% include 'materials/dataset_uploaded_files.html' %}
                  {% include 'materials/dataset_meta.html' %}
                  <div class="text-center"><strong>Dataset ID: {{ dataset.pk }}</strong></div>
                </div>
              </div>
              <br>
            </div>
          {% endif %}
        {% endfor %}

        {% include "materials/license_note.html" %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'materials/javascript/plot_data.js' %}"></script>
  <script>
   {% for dataset in object.dataset_set.all %}
   if (document.getElementById('figure_{{ dataset.pk }}')) {
     {% with series=dataset.dataseries_set.all|first %}
     data = [
       {% for datapoint in series.datapoint_set.all %}
       {x: {{ datapoint.numericalvalue_set.all.0.value }},
        y: {{ datapoint.numericalvalue_set.all.1.value|default:0 }}},
       {% endfor %}
     ];
     plot_data('figure_{{ dataset.pk }}', data,
               '{{ dataset.secondary_property }}',
               '{{ dataset.secondary_unit }}',
               '{{ dataset.primary_property }}',
               '{{ dataset.primary_unit }}');
     {% endwith %}
   }
   {% endfor %}
  </script>
  <script>
   $('.delete_button').click(function() {
     if (confirm('Are you sure you want to remove this data set from the database?')) {
       window.open($(this).attr('data-reverse-url'), '_top');
     }
   });
  </script>
  <script>
   /* Change "click to expand" to "click to hide" and vice versa */
   $('.expand-hide-button').click(function() {
     if ($(this).html().includes('expand)')) {
       $(this).html($(this).html().split('expand)')[0] + 'hide)');
     } else {
       $(this).html($(this).html().split('hide)')[0] + 'expand)');
     }
   });
  </script>
{% endblock %}
