<!-- List all data sets corresponding to a given material and property -->
{% extends 'materials/base.html' %}

{% block body %}
  <div class="card card-default">
    <div class="card-header">
      <h3>{{ object_list.first.system }}: {{ object_list.first.primary_property }}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        {% for dataset in object_list %}
          {% if user == dataset.created_by or dataset.visible %}
            <div class="col-md-6">
              <div class="card card-item">
                {% if not dataset.visible %}
                  <div style="background:#fadb9b">
                {% endif %}
                <div class="card-header">
                  {% if dataset.is_experimental %}
                    <h5>Experimental</h5>
                  {% else %}
                    <h5>Theoretical</h5>
                  {% endif %}
                  {% if user == dataset.created_by %}
                    {% include 'materials/dataset_buttons.html' with system=dataset.system %}
                  {% endif %}
                </div>
                {% if not dataset.visible %}
                  </div>
                {% endif %}
                <div class="card-body">
                  {% include 'materials/dataset_contents.html' with with_reference=True %}
                </div>
              </div>
              <br>
            </div>
          {% endif %}
        {% endfor %}
        {% include "materials/license_note.html" %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% include 'materials/dataset_scripts.html' with datasets=object_list %}
{% endblock %}
