{% extends 'materials/base.html' %}

{# List all data sets corresponding to a given material and property #}

{% block body %}
  {% load static %}
  <div class="card card-default">
    <div class="card-header">
      <h3>{{ object_list.first.system }}: {{ object_list.first.primary_property }}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        {% for dataset in object_list %}
          {% if user == dataset.created_by or dataset.visible %}
            <div class="col-md-{% if dataset.primary_property.name == 'atomic structure'%}12{% else %}6{% endif %}">
              <div class="card card-item">
                {% if not dataset.visible %}
                  <div style="background:#fadb9b">
                {% endif %}
                <div class="card-header">
                  <h5>
                    {{ dataset.primary_property.name|capfirst }}
                    {% if dataset.verified_by.exists %}
                      <span class="badge badge-success">Verified</span>
                    {% endif %}
                  </h5>
                  {% if user == dataset.created_by %}
                    {% include 'materials/dataset_buttons.html' with system=dataset.system %}
                  {% endif %}
                </div>
                {% if not dataset.visible %}
                  </div>
                {% endif %}
                <div class="card-body">
                  {% if dataset.primary_property.name == 'atomic structure'%}
                    <div class="row">
                      <div class="col-md-6">
                        {% include 'materials/dataset_contents.html' with with_reference=True with_all_entries=False skip_atomic_structure=False %}
                      </div>
                      <div class="col-md-6">
                        <div id="jsmol-{{ dataset.pk }}">
                          {% include 'materials/jsmol_card.html' %}
                        </div>
                      </div>
                    </div>
                  {% else %}
                    {% include 'materials/dataset_contents.html' with with_reference=True %}
                  {% endif %}
                </div>
              </div>
              <br>
            </div>
          {% endif %}
        {% endfor %}
        {% include "materials/license_note.html" %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% if object_list.first.primary_property.name == 'atomic structure'%}
    <script src="{% static 'jsmol/JSmol.min.js' %}"></script>
    <script>
     {% for dataset in object_list %}
     $.get("{% url 'materials:get_jsmol_input' pk=dataset.pk %}", function(response) {
       if (response) {
         {% if forloop.first %}
         $('#jsmol-{{ dataset.pk }} .jsmol').html(Jmol.getAppletHtml('jmol', {
           script: response,
           j2sPath: "{% static 'jsmol/j2s' %}",
           height: 450,
           width: 470,
         }));
         {% endif %}
       } else {
         $('#jsmol-{{ dataset.pk }} .jsmol').text('Atomic coordinates not available for this data set.');
       }
     });
     {% endfor %}
    </script>
  {% endif %}
  {% include 'materials/dataset_scripts.html' with datasets=object_list %}
{% endblock %}
