<!-- List all data sets corresponding to a given reference. -->
{% extends 'materials/base.html' %}

{% block body %}
  <div class="card card-default">
    <div class="card-header">
      <h5>{% include 'materials/reference_format.html' with ref=object %}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        {% for dataset in object.dataset_set.all %}
          {% if user == dataset.created_by or dataset.visible %}
            <div class="col-md-6">
              <div class="card card-item">
                {% if not dataset.visible %}
                  <div style="background:#fadb9b">
                {% endif %}
                <div class="card-header">
                  <h5><a href="{% url 'materials:materials_system' pk=dataset.system.pk %}">
                    {{ dataset.system.compound_name }}</a>: {{ dataset.primary_property }}
                    {% if dataset.experimental %}
                      (experimental)
                    {% else %}
                      (theoretical)
                    {% endif %}
                  </h5>
                  {% if user == dataset.created_by %}
                    {% include 'materials/dataset_buttons.html' with system=dataset.system %}
                  {% endif %}
                </div>
                {% if not dataset.visible %}
                  </div>
                {% endif %}
                {% include 'materials/dataset_contents.html' with with_all_entries=True %}
              </div>
              <br>
            </div>
          {% endif %}
        {% endfor %}
        {% include "materials/license_note.html" %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% include 'materials/dataset_scripts.html' with datasets=object.dataset_set.all %}
{% endblock %}
