{% for author in ref.authors.all %}
  {% if forloop.last and not forloop.first %}and{% endif %}

  {% for fn in author.splitFirstName %}
    {{ fn.0 }}.
  {% endfor %}

  {{ author.last_name }}{% if not forloop.first or forloop.revcounter0 != 1 %},{% endif %}

{% endfor %}

{% if ref.title %}
  <i>{{ ref.title }}</i>,
{% endif %}

{% if ref.journal %}
  {{ ref.journal }}
{% endif %}

{% if ref.vol %}
  <strong>{{ ref.vol }}</strong>,
{% endif %}

{% if ref.pages_start %}
  {{ ref.pages_start }}{% if ref.pages_end %}&#8209;{{ ref.pages_end }}
  {% endif %}
{% endif %}

{% if ref.year %}
  ({{ ref.year }}).
{% endif %}

{% if ref.doi_isbn %}
  doi:&nbsp;{{ ref.doi_isbn }}.
{% endif %}
