{% extends 'materials/materials_nav.html' %}

{% block body %}
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    </p>
    {% endfor %}
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<!-- <ul id="search-results">
  {% if systems.count > 0 %}

  {% for system in systems %}
  <li class="list-group-item"><h5><a href="/materials/{{system.id}}">{{system.compound_name}}</a></h5></li>
  {% endfor %}

  {% else %}

  <li class="list-group-item">No results. Please retry with another search term.</li>
  {% endif %}
  {% endblock %}
</ul> -->
