{% extends 'materials/materials_nav.html' %}
{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'materials/css/system.css' %}">

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <b>Material</b>
    <h3>{{system.compound_name}}</h3>
  </div>
  <div class="panel-body">
    {% with atomic_positions as entry %}
      <div class="col-md-8">
        <h4>Molecular Model</h4>
        {% if entry.fhi_file %}
          <div id="jmol"></div>
        {% else %}
        <h3>Atomic Positions file unavailable</h3>
        {% endif %}
      </div>
      <div class="col-md-4">
        <h4>Atomic Positions</h4>
        {% if entry %}
          <div class="col-md-6 details-a-pos">
            a: {{entry.a}} <br>
            b: {{entry.b}} <br>
            c: {{entry.c}} <br>
          </div>
          <div class="col-md-6 details-a-pos">
            &alpha;: {{entry.alpha}} <br>
            &beta;: {{entry.beta}} <br>
            &gamma;: {{entry.gamma}} <br>
          </div>
          <div>
            Crystal system: {{entry.phase}} <br>
            {% if entry.temperature %}
            Temperature: {{entry.temperature}}K <br>
            {% endif %}
            Method: {{entry.method}} <br>
            Source: {{entry.publication.author}} <br>
            {% if entry.publication.doi_isbn %}
            Publication: {{entry.publication.doi_isbn}} <br>
            {% endif %}
            <a href="{% url "materials:data_dl" type="atomic_positions" id=entry.id %}">
            <button type="button" class="btn btn-primary"/>
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            Atomic Positions
            </button>
            </a>
            {% else %}
            <h3>No data available</h3>
            {% endif %}
            {% if system.atomicpositions_set.all|length > 1 %}
            <a href="{% url "materials:all_a_pos" id=system.id %}">
            <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            See all entries
            </button>
            </a>
            {% endif %}
          </div>
      </div>
    {% endwith %}
</div>
    <table class="table">
      <tr>
        <td>
          {% with entry=exciton_emission %}
          <h4>Photoluminescence Graph</h4>
          {% if entry.pl_file %}
            <div id="pl-graph"></div>
          {% else %}
          <h3>Photoluminescence file unavailable</h3>
          {% endif %}
          {% if entry %}
          Exciton Emission Peak: {{entry.exciton_emission}}nm <br>
          {% if entry.temperature %}
          Temperature: {{entry.temperature}}K <br>
          {% endif %}
          Crystal system: {{entry.phase}} <br>
          Method: {{entry.method}} <br>
          Source: {{entry.publication.author}} <br>
          {% if entry.publication.doi_isbn %}
          Publication: {{entry.publication.doi_isbn}} <br>
          {% endif %}
          <a href="{% url "materials:data_dl" type="exciton_emission" id=entry.id %}">
          <button type="button" class="btn btn-primary"/>
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
          Exciton Emission Peak
          </button>
          </a>
          {% else %}
          <h3>No data available</h3>
          {% endif %}
          {% if system.excitonemission_set.all|length > 1 %}
          <a href="{% url "materials:all_entries" id=system.id type="exciton_emission" %}">
          <button type="button" class="btn btn-info">
          <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
          See all entries
          </button>
          </a>
          {% endif %}
          {% endwith %}
        </td>
        <!-- <td>
          <h4>Band Gap</h4>
          {% with entry=system.bandgap_set.all|first %}
            {% if entry %}
            <p class="details">{{entry.band_gap}} eV</p>
            Phase: {{entry.phase}} <br>
            Temperature: {{entry.temperature}}K <br>
            Method: {{entry.method}} <br>
            Source: {{entry.publication.author}} <br>
            {% if entry.publication.doi_isbn %}
            Publication: {{entry.publication.doi_isbn}} <br>
            {% endif %}
            <a href="{% url "materials:data_dl" type="band_gap" id=entry.id %}">Download Band Gap</a>
            {% else %}
            <h3>No data available</h3>
            {% endif %}
            {% if system.bandgap_set.all|length > 1 %}
            <br>
            <a href="{% url "materials:all_entries" id=system.id type="band_gap"%}">See all entries</a>
            {% endif %}
          {% endwith %}
        </td> -->
        <td>
          <div class="text-justify">
            <h4>Band Structure</h4>
            {% with entry=band_structure %}
              {% if entry.folder_location %}
              <div id="bs-graph"></div>
              {% else %}
              <h3>Band Structure file unavailable</h3>
              {% endif %}
              {% if entry %}
              {% if entry.temperature %}
              Temperature: {{entry.temperature}}K <br>
              {% endif %}
              Crystal system: {{entry.phase}} <br>
              Method: {{entry.method}} <br>
              Source: {{entry.publication.author}} <br>
              {% if entry.publication.doi_isbn %}
              Publication: {{entry.publication.doi_isbn}} <br>
              {% endif %}
              <a href="{% url "materials:data_dl" type="band_structure" id=entry.id %}">
              <button type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
              Band Structure
              </button>
              </a>
              {% else %}
              <h3>No data available</h3>
              {% endif %}
              {% if system.bandstructure_set.all|length > 1 %}
              <a href="{% url "materials:all_entries" id=system.id type="band_structure" %}">
              <button type="button" class="btn btn-info">
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
              See all entries
              </button>
              </a>
              {% endif %}
            {% endwith %}
          </div>
        </td>
      </tr>
    </table>
    </div>
</div>

{% endblock %}
{% block script %}
<!-- could potentially change to server served -->
{% with entry=exciton_emission %}
<script type="text/javascript">
$('#pl-graph').load("/media/uploads/{{entry.phase}}_{{system.organic}}_{{system.inorganic}}_pl.html");
</script>
{% endwith %}
{% with entry=band_structure %}
<script type="text/javascript">
$('#bs-graph').load("/media/uploads/{{entry.phase}}_{{system.organic}}_{{system.inorganic}}_bs/{{entry.phase}}_{{system.organic}}_{{system.inorganic}}_bs.html");
</script>
{% endwith %}
{% with entry=atomic_positions %}
<script src="{% static 'jsmol/JSmol.min.js' %}"></script>
<script>
$(document).ready(function() {
  $('#jmol').html(
    Jmol.getAppletHtml("jmolApplet0", {
    script: "load /media/uploads/{{entry.phase}}_{{system.organic}}_{{system.inorganic}}.in",
    j2sPath: "{% static 'jsmol/j2s' %}",
    height: 400,
    width: 600,
    })
  )
});
</script>
{% endwith %}
{% endblock %}
