<!--
     List of data sets for a specific material.
     Only the representative data sets corresponding to each property are shown.
-->
{% extends 'materials/base.html' %}

{% block body %}
  {% load static %}
  <div class="card card-default">
    <div class="card-header">
      {% if user.is_superuser and dataset_list.first %}
        <a href="{% url 'materials:update_system' pk=dataset_list.first.system.pk %}">
          <button type="button" class="btn btn-success" style="float: right">Edit System Data
          </button>
        </a>
      {% endif %}
      <h3>{{ dataset_list.first.system.compound_name }}</h3>
    </div>

    <div class="card-body">
      <div class="row">

        {% for dataset in dataset_list %}
          {% if dataset.representative %}
            {% if user == dataset.created_by or dataset.visible %}
              <!-- In case of atomic structures use a wider column to make
                   room for the JSmol visualization below -->
              <div class="col-md-{% if dataset.primary_property.name == 'atomic structure'%}12{% else %}6{% endif %}">
                <div class="card card-item">
                  {% if not dataset.visible %}
                    <div style="background:#fadb9b">
                  {% endif %}
                  <div class="card-header">
                    <h5>{{ dataset.primary_property.name|capfirst }}</h5>
                    {% if user == dataset.created_by %}
                      {% include 'materials/dataset_buttons.html' with system=dataset_list.first.system %}
                    {% endif %}
                  </div>
                  {% if not dataset.visible %}
                    </div>
                  {% endif %}
                  <div class="card-body">
                    {% if dataset.primary_property.name == 'atomic structure'%}
                    <div class="row">
                      <div class="col-md-6">
                        {% include 'materials/dataset_contents.html' with with_reference=True with_all_entries=True skip_atomic_structure=True %}
                      </div>
                      <div class="col-md-6">
                        {% include 'materials/jsmol_card.html' %}
                      </div>
                    </div>
                    {% else %}
                    {% include 'materials/dataset_contents.html' with with_reference=True with_all_entries=True %}
                    {% endif %}
                  </div>
                </div>
                <br>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}

        <div class="col-md-6">
          <div class="card card-item">
            <div class="card-header">
              <h5>Synthesis Methods</h5>
            </div>
            <div class="card-body">
              {% with entry=dataset_list.first.system.synthesismethodold_set.first %}
                {% if entry %}
                  {% if entry.synthesis_method %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Method:</strong> {{ entry.synthesis_method }}</div>
                  {% endif %}
                  {% if entry.starting_materials %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Starting Materials:</strong> {{ entry.starting_materials }}
                    </div>
                  {% endif %}
                  {% if entry.remarks %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Remarks:</strong> {{ entry.remarks }}
                    </div>
                  {% endif %}
                  {% if entry.product %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Product:</strong> {{ entry.product }}
                    </div>
                  {% endif %}
                  <!--<p class="details">{{ entry.synthesis_method|truncatechars:50 }}</p>-->
                  <strong>Phase:</strong> {{ entry.phase }} <br>
                  {% if entry.temperature %}
                    <strong>Temperature:</strong> {{ entry.temperature }}K <br>
                  {% endif %}
                  {% if entry.method %}
                    <strong>Method:</strong> {{ entry.method }} <br> <!--maybe this field should be left out-->
                  {% endif %}
                  {% if entry.reference.doi_isbn %}
                    <strong>Reference:</strong> {{ entry.reference.doi_isbn }} <br>
                  {% endif %}
                  <strong>Source:</strong> {{ entry.source }} <br>
                  <strong>Data extraction:</strong> {{ entry.data_extraction_method }} <br>
                  {% if entry.comments %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Comments:</strong> {{ entry.comments }}
                    </div>
                  {% endif %}
                  {% with entry.reference.author_set.all as authors %}
                    <button type="button" class="btn btn-primary" data-toggle="collapse"
                            data-target="#reference2">
                      <span class="fa fa-book" aria-hidden="true"></span>
                      Reference
                    </button>
                    <div id="reference2" class="collapse">
                      {% include 'materials/reference_format.html' with ref=entry.reference %}
                    </div>
                    <br>
                  {% endwith %}
                  <a href="{% url "materials:data_dl" data_type="synthesis" pk=entry.pk %}">
                    <button type="button" class="btn btn-primary">
                      <span class="fa fa-download" aria-hidden="true"></span>
                      Synthesis Method
                    </button>
                  </a>
                  <a href="{% url "materials:all_entries" pk=dataset_list.first.system.pk data_type="synthesis"%}">
                    <button type="button" class="btn btn-info">
                      <span class="fa fa-folder-open" aria-hidden="true"></span>
                      See all entries ({{ dataset_list.first.system.synthesismethodold_set.all|length }})
                    </button>
                  </a>
                {% else %}
                  <h3>No data available</h3>
                {% endif %}
              {% endwith %}
            </div>
          </div>
          <br>
        </div>

        <div class="col-md-6">
          <div class="card card-item">
            {% with entry=dataset_list.first.system.excitonemission_set.first %}
              <div class="card-header">
                <h5>Photoluminescence emission spectra</h5>
              </div>
              <div class="card-body">
                {% if entry.plotted %}
                  <div id="pl-graph"></div>
                {% elif entry.pl_file %}
                  <h3>PL graph is being plotted</h3>
                {% else %}
                  <h3>PL file unavailable</h3>
                {% endif %}
                {% if entry %}
                  <strong>Exciton Emission Peak:</strong> {{ entry.exciton_emission }} nm <br>
                  {% if entry.temperature %}
                    <strong>Temperature:</strong> {{ entry.temperature }}K <br>
                  {% endif %}
                  <strong>Crystal system:</strong> {{ entry.phase }} <br>
                  <strong>Method:</strong> {{ entry.method }} <br>
                  {% if entry.reference.doi_isbn %}
                    <strong>Reference:</strong> {{ entry.reference.doi_isbn }} <br>
                  {% endif %}
                  <strong>Source:</strong> {{ entry.source }} <br>
                  <strong>Data extraction:</strong> {{ entry.data_extraction_method }} <br>
                  {% if entry.comments %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Comments:</strong> {{ entry.comments }}
                    </div>
                  {% endif %}
                  {% with entry.reference.author_set.all as authors %}
                    <button type="button" class="btn btn-primary" data-toggle="collapse"
                            data-target="#reference3">
                      <span class="fa fa-book" aria-hidden="true"></span>
                      Reference
                    </button>
                    <div id="reference3" class="collapse">
                      {% include 'materials/reference_format.html' with ref=entry.reference %}
                    </div>
                    <br>
                  {% endwith %}
                  <a href="{% url "materials:data_dl" data_type="exciton_emission" pk=entry.pk %}">
                    <button type="button" class="btn btn-primary">
                      <span class="fa fa-download" aria-hidden="true"></span>
                      Exciton Emission Peak
                    </button>
                  </a>
                  <a href="{% url "materials:all_entries" pk=dataset_list.first.system.pk data_type="exciton_emission" %}">
                    <button type="button" class="btn btn-info">
                      <span class="fa fa-folder-open" aria-hidden="true"></span>
                      See all entries ({{ dataset_list.first.system.excitonemission_set.all|length }})
                    </button>
                  </a>
                {% else %}
                  <h3>No data available</h3>
                {% endif %}
            {% endwith %}
              </div>
          </div>
          <br>
        </div>

        {% include "materials/license_note.html" %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% with entry=dataset_list.first.system.excitonemission_set.first %}
    <script type="text/javascript">
     $('#pl-graph').load("../media/uploads/{{ entry.phase}}_{{dataset_list.first.system.organic}}_{{dataset_list.first.system.inorganic }}_pl.html");
    </script>
  {% endwith %}
  <script src="{% static 'jsmol/JSmol.min.js' %}"></script>
  <script>
   {% if dataset_list.first and dataset_list.first.system.pk %}
   $.get("{% url 'materials:get_jsmol_input' pk=dataset_list.first.system.pk %}", function(response) {
     if (response) {
       $('#jmol').html(Jmol.getAppletHtml('jmol', {
         script: response,
         j2sPath: "{% static 'jsmol/j2s' %}",
         height: 450,
         width: 470,
       }));
     } else {
       var el = document.getElementById('jmol');
       el.innerHTML = 'Atomic coordinates not avaiable for this data set.';
     }
   });
   {% endif %}
  </script>
  {% include 'materials/dataset_scripts.html' with datasets=dataset_list %}
{% endblock %}
