{% extends "materialstest/header.html" %}

{% block content %}
    <h5>Compound name: {{object.compound_name}}</h5>
  {% for a_pos in object.atomicpositions_set.all%}
    Source: {{a_pos.author.doi_isbn}}
    Contributor: {{a_pos.contributor}}
    Temperature: {{a_pos.temperature}} K
    Phase: {{a_pos.phase}}
    Method: {{a_pos.method}}
    a: {{a_pos.a}}
    b: {{a_pos.b}}
    c: {{a_pos.c}}
    alpha: {{a_pos.alpha}}
    beta: {{a_pos.beta}}
    gamma: {{a_pos.gamma}}
  {% endfor %}

  <div class="">
    {% for a_pos in object.excitonemission_set.all%}
      Temperature: {{a_pos.temperature}} K
      Exciton Emission Peak: {{a_pos.exciton_emission}} eV
      Method: {{a_pos.method}}
      Source: {{a_pos.author.doi_isbn}}
      Contributor: {{a_pos.contributor}}
    {% endfor %}
  </div>

  <div class="">
    {% for a_pos in object.bandgap_set.all%}
      Temperature: {{a_pos.temperature}} K
      Band Gap: {{a_pos.band_gap}} eV
      Method: {{a_pos.method}}
      Source: {{a_pos.author.doi_isbn}}
      Contributor: {{a_pos.contributor}}
    {% endfor %}
  </div>

  <div class="">
    {% for a_pos in object.bandstructure_set.all%}
      Temperature: {{a_pos.temperature}} K
      Band Structure: {{a_pos.band_structure}}
      Method: {{a_pos.method}}
      Source: {{a_pos.author.doi_isbn}}
      Contributor: {{a_pos.contributor}}
    {% endfor %}
  </div>



{% endblock %}
