{% extends 'materials/nav.html' %}

{% block body %}
  {% load static %}
  <br>
  <div class="card card-default">
    <div class="card-header">
      {% if user.is_superuser %}
        <a href="/materials/update-system/{{ object.pk }}" >
          <button type="button" class="btn btn-success" style="float: right">Edit System Data
          </button>
        </a>
      {% endif %}
      <h3>{{ object.compound_name }}</h3>
    </div>

    <div class="card-body">
      <div class="row">

        <div class="col-md-6">
          <br>
          <div class="card card-item">
            <div class="card-header">
              <h5>Molecular Model</h5>
            </div>
            {% with object.atomicpositions_set.all|first as entry %}
              <div class="card-body">
                {% if entry.fhi_file %}
                  <div id="jmol"></div>
                {% else %}
                  <h3>Atomic Positions file unavailable</h3>
                {% endif %}
              </div>
            {% endwith %}
          </div>
        </div>

        <div class="col-md-6">
          <br>
          <div class="card card-item">
            <div class="card-header">
              <h5>Atomic Positions</h5>
            </div>
            {% with object.atomicpositions_set.all|first as entry %}
              <div class="card-body">
                {% if entry %}
                  <table class="table atomic-positions">
                    <tr>
                      <td>a: {{ entry.a }} &#8491;</td>
                      <td>&alpha;: {{ entry.alpha }}&deg;</td>
                    </tr>
                    <tr>
                      <td>b: {{ entry.b }} &#8491;</td>
                      <td>&beta;: {{ entry.beta }}&deg;</td>
                    </tr>
                    <tr>
                      <td>c: {{ entry.c }} &#8491;</td>
                      <td>&gamma;: {{ entry.gamma }}&deg;</td>
                    </tr>
                  </table>
                  <strong>Crystal system:</strong> {{ entry.phase }} <br>
                  {% if entry.temperature %}
                    <strong>Temperature:</strong> {{ entry.temperature }}K <br>
                  {% endif %}
                  <strong>Method:</strong> {{ entry.method }} <br>
                  {% if entry.publication.doi_isbn %}
                    <strong>Publication:</strong> {{ entry.publication.doi_isbn }} <br>
                  {% endif %}
                  <strong>Source:</strong> {{ entry.source }} <br>
                  <strong>Data extraction:</strong> {{ entry.data_extraction_method }} <br>
                  {% if entry.comments %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Comments:</strong> {{ entry.comments }}
                    </div>
                  {% endif %}
                  {% with entry.publication.author_set.all as authors %}
                    <button type="button" class="btn btn-primary" data-toggle="collapse"
                            data-target="#reference1">
                      <span class="fa fa-book" aria-hidden="true"></span>
                      Reference
                    </button>
                    <div id="reference1" class="collapse">
                      {% include 'materials/reference_format.html' with ref=entry.publication %}
                    </div>
                    <br>
                  {% endwith %}
                  <a href="{% url "materials:data_dl" data_type="atomic_positions" pk=entry.pk %}">
                    <button type="button" class="btn btn-primary">
                      <span class="fa fa-download" aria-hidden="true"></span>
                      Atomic Positions
                    </button>
                  </a>
                  <a href="{% url "materials:all_a_pos" pk=object.pk %}">
                    <button type="button" class="btn btn-info">
                      <span class="fa fa-folder-open" aria-hidden="true"></span>
                      See all entries ({{ object.atomicpositions_set.all|length }})
                    </button>
                  </a>
                {% else %}
                  <h3>No data available</h3>
                {% endif %}
              </div>
            {% endwith %}
          </div>

          <br>
          <div class="card card-item">
            <div class="card-header">
              <h5>Synthesis Methods</h5>
            </div>
            <div class="card-body">
              {% with entry=object.synthesismethodold_set.all|first %}
                {% if entry %}
                  {% if entry.synthesis_method %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Method:</strong> {{ entry.synthesis_method }}</div>
                  {% endif %}
                  {% if entry.starting_materials %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Starting Materials:</strong> {{ entry.starting_materials }}
                    </div>
                  {% endif %}
                  {% if entry.remarks %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Remarks:</strong> {{ entry.remarks }}
                    </div>
                  {% endif %}
                  {% if entry.product %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Product:</strong> {{ entry.product }}
                    </div>
                  {% endif %}
                  <!--<p class="details">{{ entry.synthesis_method|truncatechars:50 }}</p>-->
                  <strong>Phase:</strong> {{ entry.phase }} <br>
                  {% if entry.temperature %}
                    <strong>Temperature:</strong> {{ entry.temperature }}K <br>
                  {% endif %}
                  {% if entry.method %}
                    <strong>Method:</strong> {{ entry.method }} <br> <!--maybe this field should be left out-->
                  {% endif %}
                  {% if entry.publication.doi_isbn %}
                    <strong>Publication:</strong> {{ entry.publication.doi_isbn }} <br>
                  {% endif %}
                  <strong>Source:</strong> {{ entry.source }} <br>
                  <strong>Data extraction:</strong> {{ entry.data_extraction_method }} <br>
                  {% if entry.comments %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Comments:</strong> {{ entry.comments }}
                    </div>
                  {% endif %}
                  {% with entry.publication.author_set.all as authors %}
                    <button type="button" class="btn btn-primary" data-toggle="collapse"
                            data-target="#reference2">
                      <span class="fa fa-book" aria-hidden="true"></span>
                      Reference
                    </button>
                    <div id="reference2" class="collapse">
                      {% include 'materials/reference_format.html' with ref=entry.publication %}
                    </div>
                    <br>
                  {% endwith %}
                  <a href="{% url "materials:data_dl" data_type="synthesis" pk=entry.pk %}">
                    <button type="button" class="btn btn-primary">
                      <span class="fa fa-download" aria-hidden="true"></span>
                      Synthesis Method
                    </button>
                  </a>
                  <a href="{% url "materials:all_entries" pk=object.pk data_type="synthesis"%}">
                    <button type="button" class="btn btn-info">
                      <span class="fa fa-folder-open" aria-hidden="true"></span>
                      See all entries ({{ object.synthesismethodold_set.all|length }})
                    </button>
                  </a>
                {% else %}
                  <h3>No data available</h3>
                {% endif %}
              {% endwith %}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <br>
          <div class="card card-item">
            {% with entry=object.excitonemission_set.all|first %}
              <div class="card-header">
                <h5>Photoluminescence emission spectra</h5>
              </div>
              <div class="card-body">
                {% if entry.plotted %}
                  <div id="pl-graph"></div>
                {% elif entry.pl_file %}
                  <h3>PL graph is being plotted</h3>
                {% else %}
                  <h3>PL file unavailable</h3>
                {% endif %}
                {% if entry %}
                  <strong>Exciton Emission Peak:</strong> {{ entry.exciton_emission }} nm <br>
                  {% if entry.temperature %}
                    <strong>Temperature:</strong> {{ entry.temperature }}K <br>
                  {% endif %}
                  <strong>Crystal system:</strong> {{ entry.phase }} <br>
                  <strong>Method:</strong> {{ entry.method }} <br>
                  {% if entry.publication.doi_isbn %}
                    <strong>Publication:</strong> {{ entry.publication.doi_isbn }} <br>
                  {% endif %}
                  <strong>Source:</strong> {{ entry.source }} <br>
                  <strong>Data extraction:</strong> {{ entry.data_extraction_method }} <br>
                  {% if entry.comments %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Comments:</strong> {{ entry.comments }}
                    </div>
                  {% endif %}
                  {% with entry.publication.author_set.all as authors %}
                    <button type="button" class="btn btn-primary" data-toggle="collapse"
                            data-target="#reference3">
                      <span class="fa fa-book" aria-hidden="true"></span>
                      Reference
                    </button>
                    <div id="reference3" class="collapse">
                      {% include 'materials/reference_format.html' with ref=entry.publication %}
                    </div>
                    <br>
                  {% endwith %}
                  <a href="{% url "materials:data_dl" data_type="exciton_emission" pk=entry.pk %}">
                    <button type="button" class="btn btn-primary">
                      <span class="fa fa-download" aria-hidden="true"></span>
                      Exciton Emission Peak
                    </button>
                  </a>
                  <a href="{% url "materials:all_entries" pk=object.pk data_type="exciton_emission" %}">
                    <button type="button" class="btn btn-info">
                      <span class="fa fa-folder-open" aria-hidden="true"></span>
                      See all entries ({{ object.excitonemission_set.all|length }})
                    </button>
                  </a>
                {% else %}
                  <h3>No data available</h3>
                {% endif %}
            {% endwith %}
              </div>
          </div>
        </div>

        <div class="col-md-6">
          <br>
          <div class="card card-item">
            {% with entry=object.bandstructure_set.all|first %}
              <div class="card-header">
                <h5>Band Structures</h5>
              </div>
              <div class="card-body">
                {% if entry.plotted and entry.visible %}
                  <div class="tab-content">
                    <div id="home" class="tab-pane fade show active">
                      <div id="bs-graph-full"></div>
                    </div>
                    <div id="mini" class="tab-pane fade">
                      <div id="bs-graph-mini"></div>
                    </div>
                  </div>
                  <ul class="nav nav-tabs nav-tabs-band-structure">
                    <li class="active">
                      <a class="nav-link active" data-toggle="tab" href="#home">Full size</a>
                    </li>
                    <li>
                      <a class="nav-link" data-toggle="tab" href="#mini">Zoomed</a>
                    </li>
                  </ul>
                {% elif entry.folder_location|length > 0 and entry.visible %}
                  <h3>Band Structure is not plotted</h3>
                {% else %}
                  <h3>Band Structure file unavailable</h3>
                {% endif %}

                {% if entry.visible %}
                  <p class="details">Band gap:
                    <span style="font-weight: normal;">
                      {% if entry.band_gap|length > 0 %}
                        {{ entry.band_gap }} eV
                      {% else %}N/A
                      {% endif %}
                    </span>
                  </p>
                  {% if entry.temperature %}
                    <strong>Temperature:</strong> {{ entry.temperature }} K <br>
                  {% endif %}
                  <strong>Crystal system:</strong> {{ entry.phase }} <br>
                  <strong>Method:</strong> {{ entry.method }} <br>
                  <strong>Source:</strong> {{ entry.source }}
                  <br>
                  <strong>Data extraction:</strong> {{ entry.data_extraction_method }} <br>
                  {% if entry.comments %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Comments:</strong> {{ entry.comments }}
                    </div>
                  {% endif %}
                  {% with entry.publication.author_set.all as authors %}
                    <button type="button" class="btn btn-primary" data-toggle="collapse"
                            data-target="#reference4">
                      <span class="fa fa-book" aria-hidden="true"></span>
                      Reference
                    </button>
                    <div id="reference4" class="collapse">
                      {% include 'materials/reference_format.html' with ref=entry.publication %}
                    </div>
                    <br>
                  {% endwith %}
                  {% if entry.folder_location and entry.plotted %}
                    <a href="{% url "materials:data_dl" data_type="band_structure" pk=entry.pk %}">
                      <button type="button" class="btn btn-primary">
                        <span class="fa fa-download" aria-hidden="true"></span>
                        Band Structure
                      </button>
                    </a>
                  {% endif %}
                  {% if entry.band_gap != '' %}
                    <a href="{% url "materials:data_dl" data_type="band_gap" pk=entry.pk %}">
                      <button type="button" class="btn btn-primary">
                        <span class="fa fa-download" aria-hidden="true"></span>
                        Band Gap
                      </button>
                    </a>
                  {% endif %}
                  <a href="{% url "materials:all_entries" pk=object.pk data_type="band_structure" %}">
                    <button type="button" class="btn btn-info">
                      <span class="fa fa-folder-open" aria-hidden="true"></span>
                      See all entries ({{ object.bandstructure_set.all|length }})
                    </button>
                  </a>
                {% else %}
                  <h3>No data available</h3>
                {% endif %}
            {% endwith %}
              </div>
          </div>
        </div>

        <div class="col-md-6">
          <br>
          <div class="card card-item">
            <div class="card-header">
              <h5>Material Properties</h5>
            </div>
            <div class="card-body">
              {% with object.listProperties as properties %}
                {% if properties %}
                  <strong>Properties available:</strong>
                  <ul>
                    {% for property in properties %}
                      <li>{{ property }}</li>
                    {% endfor %}
                  </ul>
                  <a href="{% url "materials:all_entries" pk=object.pk data_type="material_prop" %}">
                    <button type="button" class="btn btn-info">
                      <span class="fa fa-folder-open" aria-hidden="true"></span>
                      See all entries ({{ object.materialproperty_set.all|length }})
                    </button>
                  </a>
                {% else %}
                  <h3>No data available</h3>
                {% endif %}
              {% endwith %}
            </div>
          </div>
        </div>

        {% for dataset in object.dataset_set.all %}
          {% if user == dataset.created_by or dataset.visible %}
            <div class="col-md-6">
              <br>
              <div class="card card-item">
                {% if not dataset.visible %}
                  <div style="background:#fadb9b">
                {% endif %}
                <div class="card-header">
                  <h5>{{ dataset.primary_property|capfirst }}
                    {% if dataset.experimental %}
                      (experimental)
                    {% else %}
                      (theoretical)
                    {% endif %}
                  </h5>
                  {% if user == dataset.created_by %}
                    {% include 'materials/dataset_buttons.html' %}
                  {% endif %}
                </div>
                {% if not dataset.visible %}
                  </div>
                {% endif %}
                <div class="card-body">
                  {% include 'materials/dataset_main_data.html' %}
                  {% include 'materials/dataset_system_description.html' %}
                  {% include 'materials/dataset_fixed_parameters.html' %}
                  {% include 'materials/dataset_synthesis_method.html' %}
                  {% include 'materials/dataset_experimental_details.html' %}
                  {% include 'materials/dataset_computational_details.html' %}
                  {% include 'materials/dataset_reference.html' %}
                  {% include 'materials/dataset_uploaded_files.html' %}
                  {% include 'materials/dataset_meta.html' %}
                  <div class="text-center"><strong>Dataset ID: {{ dataset.pk }}</strong></div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}

        {% include "materials/license_note.html" %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% with entry=object.excitonemission_set.all|first %}
    <script type="text/javascript">
     $('#pl-graph').load("../media/uploads/{{ entry.phase}}_{{object.organic}}_{{object.inorganic }}_pl.html");
    </script>
  {% endwith %}
  {% with entry=object.bandstructure_set.all|first %}
    <script type="text/javascript">
     var imglinkfull = '../media/uploads/{{ entry.phase}}_{{system.organic}}_{{system.inorganic}}_{{entry.pk}}_bs/{{entry.phase}}_{{system.organic}}_{{system.inorganic}}_{{entry.pk }}_bs_full.png';
     var imglinkmini = '../media/uploads/{{ entry.phase}}_{{system.organic}}_{{system.inorganic}}_{{entry.pk}}_bs/{{entry.phase}}_{{system.organic}}_{{system.inorganic}}_{{entry.pk }}_bs_min.png';
     $('#bs-graph-full').html("<img src=" + imglinkfull + " width='500'/>");
     $('#bs-graph-mini').html("<img src=" + imglinkmini + " width='500'/>");
    </script>
  {% endwith %}
  {% with entry=object.atomicpositions_set.all|first %}
    <script src="{% static 'jsmol/JSmol.min.js' %}"></script>
    <script>
     $(document).ready(function() {
       $('#jmol').html(
         Jmol.getAppletHtml("jmolApplet0", {
           script: "load /media/uploads/{{ entry.phase}}_{{object.organic}}_{{object.inorganic }}_apos.in",
           j2sPath: "{% static 'jsmol/j2s' %}",
           height: 450,
           width: 500,
         }));
     });
    </script>
  {% endwith %}
  <script src="{% static 'materials/javascript/plot_data.js' %}"></script>
  <script>
   {% for dataset in object.dataset_set.all %}
   if (document.getElementById('figure_{{ dataset.pk }}')) {
     {% with series=dataset.dataseries_set.all|first %}
     data = [
       {% for datapoint in series.datapoint_set.all %}
       {x: {{ datapoint.numericalvalue_set.all.0.value }},
        y: {{ datapoint.numericalvalue_set.all.1.value|default:0 }}},
       {% endfor %}
     ];
     plot_data('figure_{{ dataset.pk }}', data,
               '{{ dataset.secondary_property }}',
               '{{ dataset.secondary_unit }}',
               '{{ dataset.primary_property }}',
               '{{ dataset.primary_unit }}');
     {% endwith %}
   }
   {% endfor %}
  </script>
  <script>
   $('.delete_button').click(function() {
     if (confirm('Are you sure you want to remove this data set from the database?')) {
       window.open($(this).attr('data-reverse-url'), '_top');
     }
   });
  </script>
  <script>
   /* Change "click to expand" to "click to hide" and vice versa */
   $('.expand-hide-button').click(function() {
     if ($(this).html().includes('expand)')) {
       $(this).html($(this).html().split('expand)')[0] + 'hide)');
     } else {
       $(this).html($(this).html().split('hide)')[0] + 'expand)');
     }
   });
  </script>
{% endblock %}
