<!--
     List of data sets for a specific material.
     Only the representative data sets corresponding to each property are shown.
-->
{% extends 'materials/base.html' %}

{% block body %}
  {% load static %}
  <div class="card card-default">
    <div class="card-header">
      {% if user.is_superuser %}
        <a href="/materials/update-system/{{ object.pk }}" >
          <button type="button" class="btn btn-success" style="float: right">Edit System Data
          </button>
        </a>
      {% endif %}
      <h3>{{ object.compound_name }}</h3>
    </div>

    <div class="card-body">
      <div class="row">

        <div class="col-md-6">
          <div class="card card-item">
            <div class="card-header">
              <h5>Unit cell</h5>
            </div>
            <div class="card-body">
              <div id="jmol"></div>
            </div>
          </div>
          <br>
        </div>

        {% for dataset in object.dataset_set.all %}
          {% if dataset.representative %}
            {% if user == dataset.created_by or dataset.visible %}
              <div class="col-md-6">
                <div class="card card-item">
                  {% if not dataset.visible %}
                    <div style="background:#fadb9b">
                  {% endif %}
                  <div class="card-header">
                    <h5>{{ dataset.primary_property|capfirst }}
                      {% if dataset.is_experimental %}
                        (experimental)
                      {% else %}
                        (theoretical)
                      {% endif %}
                    </h5>
                    {% if user == dataset.created_by %}
                      {% include 'materials/dataset_buttons.html' with system=object %}
                    {% endif %}
                  </div>
                  {% if not dataset.visible %}
                    </div>
                  {% endif %}
                  {% include 'materials/dataset_contents.html' with with_reference=True with_all_entries=True %}
                </div>
                <br>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}

        <div class="col-md-6">
          <div class="card card-item">
            <div class="card-header">
              <h5>Synthesis Methods</h5>
            </div>
            <div class="card-body">
              {% with entry=object.synthesismethodold_set.first %}
                {% if entry %}
                  {% if entry.synthesis_method %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Method:</strong> {{ entry.synthesis_method }}</div>
                  {% endif %}
                  {% if entry.starting_materials %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Starting Materials:</strong> {{ entry.starting_materials }}
                    </div>
                  {% endif %}
                  {% if entry.remarks %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Remarks:</strong> {{ entry.remarks }}
                    </div>
                  {% endif %}
                  {% if entry.product %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Product:</strong> {{ entry.product }}
                    </div>
                  {% endif %}
                  <!--<p class="details">{{ entry.synthesis_method|truncatechars:50 }}</p>-->
                  <strong>Phase:</strong> {{ entry.phase }} <br>
                  {% if entry.temperature %}
                    <strong>Temperature:</strong> {{ entry.temperature }}K <br>
                  {% endif %}
                  {% if entry.method %}
                    <strong>Method:</strong> {{ entry.method }} <br> <!--maybe this field should be left out-->
                  {% endif %}
                  {% if entry.reference.doi_isbn %}
                    <strong>Reference:</strong> {{ entry.reference.doi_isbn }} <br>
                  {% endif %}
                  <strong>Source:</strong> {{ entry.source }} <br>
                  <strong>Data extraction:</strong> {{ entry.data_extraction_method }} <br>
                  {% if entry.comments %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Comments:</strong> {{ entry.comments }}
                    </div>
                  {% endif %}
                  {% with entry.reference.author_set.all as authors %}
                    <button type="button" class="btn btn-primary" data-toggle="collapse"
                            data-target="#reference2">
                      <span class="fa fa-book" aria-hidden="true"></span>
                      Reference
                    </button>
                    <div id="reference2" class="collapse">
                      {% include 'materials/reference_format.html' with ref=entry.reference %}
                    </div>
                    <br>
                  {% endwith %}
                  <a href="{% url "materials:data_dl" data_type="synthesis" pk=entry.pk %}">
                    <button type="button" class="btn btn-primary">
                      <span class="fa fa-download" aria-hidden="true"></span>
                      Synthesis Method
                    </button>
                  </a>
                  <a href="{% url "materials:all_entries" pk=object.pk data_type="synthesis"%}">
                    <button type="button" class="btn btn-info">
                      <span class="fa fa-folder-open" aria-hidden="true"></span>
                      See all entries ({{ object.synthesismethodold_set.all|length }})
                    </button>
                  </a>
                {% else %}
                  <h3>No data available</h3>
                {% endif %}
              {% endwith %}
            </div>
          </div>
          <br>
        </div>

        <div class="col-md-6">
          <div class="card card-item">
            {% with entry=object.excitonemission_set.first %}
              <div class="card-header">
                <h5>Photoluminescence emission spectra</h5>
              </div>
              <div class="card-body">
                {% if entry.plotted %}
                  <div id="pl-graph"></div>
                {% elif entry.pl_file %}
                  <h3>PL graph is being plotted</h3>
                {% else %}
                  <h3>PL file unavailable</h3>
                {% endif %}
                {% if entry %}
                  <strong>Exciton Emission Peak:</strong> {{ entry.exciton_emission }} nm <br>
                  {% if entry.temperature %}
                    <strong>Temperature:</strong> {{ entry.temperature }}K <br>
                  {% endif %}
                  <strong>Crystal system:</strong> {{ entry.phase }} <br>
                  <strong>Method:</strong> {{ entry.method }} <br>
                  {% if entry.reference.doi_isbn %}
                    <strong>Reference:</strong> {{ entry.reference.doi_isbn }} <br>
                  {% endif %}
                  <strong>Source:</strong> {{ entry.source }} <br>
                  <strong>Data extraction:</strong> {{ entry.data_extraction_method }} <br>
                  {% if entry.comments %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Comments:</strong> {{ entry.comments }}
                    </div>
                  {% endif %}
                  {% with entry.reference.author_set.all as authors %}
                    <button type="button" class="btn btn-primary" data-toggle="collapse"
                            data-target="#reference3">
                      <span class="fa fa-book" aria-hidden="true"></span>
                      Reference
                    </button>
                    <div id="reference3" class="collapse">
                      {% include 'materials/reference_format.html' with ref=entry.reference %}
                    </div>
                    <br>
                  {% endwith %}
                  <a href="{% url "materials:data_dl" data_type="exciton_emission" pk=entry.pk %}">
                    <button type="button" class="btn btn-primary">
                      <span class="fa fa-download" aria-hidden="true"></span>
                      Exciton Emission Peak
                    </button>
                  </a>
                  <a href="{% url "materials:all_entries" pk=object.pk data_type="exciton_emission" %}">
                    <button type="button" class="btn btn-info">
                      <span class="fa fa-folder-open" aria-hidden="true"></span>
                      See all entries ({{ object.excitonemission_set.all|length }})
                    </button>
                  </a>
                {% else %}
                  <h3>No data available</h3>
                {% endif %}
            {% endwith %}
              </div>
          </div>
          <br>
        </div>

        <div class="col-md-6">
          <div class="card card-item">
            {% with entry=object.bandstructure_set.first %}
              <div class="card-header">
                <h5>Band Structures</h5>
              </div>
              <div class="card-body">
                {% if entry.plotted and entry.visible %}
                  <div class="tab-content">
                    <div id="home" class="tab-pane fade show active">
                      <div id="bs-graph-full"></div>
                    </div>
                    <div id="mini" class="tab-pane fade">
                      <div id="bs-graph-mini"></div>
                    </div>
                  </div>
                  <ul class="nav nav-tabs nav-tabs-band-structure">
                    <li class="active">
                      <a class="nav-link active" data-toggle="tab" href="#home">Full size</a>
                    </li>
                    <li>
                      <a class="nav-link" data-toggle="tab" href="#mini">Zoomed</a>
                    </li>
                  </ul>
                {% elif entry.folder_location|length > 0 and entry.visible %}
                  <h3>Band Structure is not plotted</h3>
                {% else %}
                  <h3>Band Structure file unavailable</h3>
                {% endif %}

                {% if entry.visible %}
                  <p class="details">Band gap:
                    <span style="font-weight: normal;">
                      {% if entry.band_gap|length > 0 %}
                        {{ entry.band_gap }} eV
                      {% else %}N/A
                      {% endif %}
                    </span>
                  </p>
                  {% if entry.temperature %}
                    <strong>Temperature:</strong> {{ entry.temperature }} K <br>
                  {% endif %}
                  <strong>Crystal system:</strong> {{ entry.phase }} <br>
                  <strong>Method:</strong> {{ entry.method }} <br>
                  <strong>Source:</strong> {{ entry.source }}
                  <br>
                  <strong>Data extraction:</strong> {{ entry.data_extraction_method }} <br>
                  {% if entry.comments %}
                    <div style="margin-left: 20px; text-indent: -20px;">
                      <strong>Comments:</strong> {{ entry.comments }}
                    </div>
                  {% endif %}
                  {% with entry.reference.author_set.all as authors %}
                    <button type="button" class="btn btn-primary" data-toggle="collapse"
                            data-target="#reference4">
                      <span class="fa fa-book" aria-hidden="true"></span>
                      Reference
                    </button>
                    <div id="reference4" class="collapse">
                      {% include 'materials/reference_format.html' with ref=entry.reference %}
                    </div>
                    <br>
                  {% endwith %}
                  {% if entry.folder_location and entry.plotted %}
                    <a href="{% url "materials:data_dl" data_type="band_structure" pk=entry.pk %}">
                      <button type="button" class="btn btn-primary">
                        <span class="fa fa-download" aria-hidden="true"></span>
                        Band Structure
                      </button>
                    </a>
                  {% endif %}
                  {% if entry.band_gap != '' %}
                    <a href="{% url "materials:data_dl" data_type="band_gap" pk=entry.pk %}">
                      <button type="button" class="btn btn-primary">
                        <span class="fa fa-download" aria-hidden="true"></span>
                        Band Gap
                      </button>
                    </a>
                  {% endif %}
                  <a href="{% url "materials:all_entries" pk=object.pk data_type="band_structure" %}">
                    <button type="button" class="btn btn-info">
                      <span class="fa fa-folder-open" aria-hidden="true"></span>
                      See all entries ({{ object.bandstructure_set.all|length }})
                    </button>
                  </a>
                {% else %}
                  <h3>No data available</h3>
                {% endif %}
            {% endwith %}
              </div>
          </div>
          <br>
        </div>

        {% include "materials/license_note.html" %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% with entry=object.excitonemission_set.first %}
    <script type="text/javascript">
     $('#pl-graph').load("../media/uploads/{{ entry.phase}}_{{object.organic}}_{{object.inorganic }}_pl.html");
    </script>
  {% endwith %}
  {% with entry=object.bandstructure_set.first %}
    <script type="text/javascript">
     var imglinkfull = '../media/uploads/{{ entry.phase}}_{{system.organic}}_{{system.inorganic}}_{{entry.pk}}_bs/{{entry.phase}}_{{system.organic}}_{{system.inorganic}}_{{entry.pk }}_bs_full.png';
     var imglinkmini = '../media/uploads/{{ entry.phase}}_{{system.organic}}_{{system.inorganic}}_{{entry.pk}}_bs/{{entry.phase}}_{{system.organic}}_{{system.inorganic}}_{{entry.pk }}_bs_min.png';
     $('#bs-graph-full').html("<img src=" + imglinkfull + " width='500'/>");
     $('#bs-graph-mini').html("<img src=" + imglinkmini + " width='500'/>");
    </script>
  {% endwith %}
  <script src="{% static 'jsmol/JSmol.min.js' %}"></script>
  <script>
   $.get("{% url 'materials:get_jsmol_input' pk=object.pk %}", function(response) {
     if (response) {
       $('#jmol').html(Jmol.getAppletHtml('jmol', {
         script: response,
         j2sPath: "{% static 'jsmol/j2s' %}",
         height: 450,
         width: 500,
       }));
     } else {
       var parent = document.getElementById('jmol').parentNode.parentNode.parentNode;
       parent.parentNode.removeChild(parent);
     }
   });
  </script>
  {% include 'materials/dataset_scripts.html' with datasets=object.dataset_set.all %}
{% endblock %}
