{% extends 'materials/update_entries.html' %}

{% block heading %}
  <h4>Update Atomic Positions Entry for: {{object.system.compound_name}}</h4>
{% endblock %}

{% block relatedEntries %}
  <div style="padding-bottom: 10px">
    <label for="syn-method">Related Synthesis Method:</label>
    <input type="text" name="syn-method" class="form-control" value="{% if object.synthesis_method %}Method {{object.synthesis_method.methodNumber}} {% if object.synthesis_method.product %}-- Product: {{object.synthesis_method.product|truncatechars:60}}{% endif %}{% else %}None{% endif %}" readonly>
  </div>
{% endblock %}

{% block delete %}
    <a href="{% url "materials:delete_a_pos" sys=object.system.pk pk=object.pk %}">
      <button type="button" class="btn btn-danger" style="float: right;">Delete entry</button>
    </a>
{% endblock %}
