{% extends 'materials/nav.html' %}

{% block body %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-body">
      <p class="lead">
        The HybriD&sup3; database is developed in the <a href="https://aims.pratt.duke.edu">Ab Initio Materials Simulations Group</a> at Duke University, with help from Dr. Matti Ropo at University of Turku, Finland.
        The main developers are Xiaochen Du and Connor Clayton.
      </p>
      <p>
        To learn more, please contact us at: <a href="mailto:hybrid3project@duke.edu">hybrid3project@duke.edu</a>.
      </p>
  </div>
</div>
{% endblock %}
