{% extends 'materials/base.html' %}

{% block body %}
<div class="card card-default">
  <div class="card-body">
      <p class="lead">
        The {{ matd3_name }} database is developed in the <a href="https://aims.pratt.duke.edu">Ab Initio Materials Simulations Group</a> at Duke University, with help from Dr. Matti Ropo at University of Turku, Finland. The main developer is Raul Laasner. The project was created and continues to be co-lead by Xiaochen Du.
      </p>
      <p>
        To learn more, please contact us at: <a href="mailto:hybrid3project@duke.edu">hybrid3project@duke.edu</a>.
      </p>
  </div>
</div>
{% endblock %}
