{% extends 'materials/base.html' %}

{% block body %}
  {% load static %}
  <section class="jumbotron">
    {% if user.is_authenticated %}
      <h2 class="text-center">Welcome, {{user.first_name}}, to the HybriD&sup3; materials database</h2>
    {% else %}
      <h2 class="text-center">Welcome to the HybriD&sup3; materials database</h2>
    {% endif %}
    <div class="d-none d-sm-block">
      <img src="{% static 'materials/images/perovskite_model.png' %}"
           class="float-left" width=180 alt="perovskite_model">
      <img src="{% static 'materials/images/AE4TPbI4_crystal.png' %}"
           class="float-right p-2" width=140 alt="AE4TPbI4 crystal">
      <img src="{% static 'materials/images/AE4TPbI4_liquid.png' %}"
           class="float-right p-2" width=75 alt="AE4TPbI4 liquid">
    </div>
    <div class="text-justify">
      <p>
        The HybriD&sup3; materials database will provide a comprehensive collection of experimental and computational materials data for crystalline organic-inorganic compounds, predominantly based on the perovskite paradigm.
      </p>
      <p>
        The data is available under the Creative Commons license with attribution clause, described <a href="https://creativecommons.org/licenses/by/4.0/">here</a> and, in its full text, <a href="https://creativecommons.org/licenses/by/4.0/legalcode">here</a>. We also intend to offer the data for inclusion in broader materials databases in order to maximize its accessibility.
      </p>
      <p>
        Please contact us if you wish to add specific materials to the database - the database is intended to be accessible by the community and we would be delighted to hear from you.
      </p>
    </div>
    <a href="{% url 'contact' %}">
      <button type="buttom" class="btn btn-primary">Learn more</button>
    </a>
    <a href="{% url 'materials:search' %}">
      <button type="button" class="btn btn-primary">Start searching</button>
    </a>
  </section>
{% endblock %}
