{% extends 'mainproject/base.html' %}

{% block navbar %}
<nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"
      aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">HybriD&#xb3; materials account</a>
    </div>
    <div id="navbar-collapse" class="navbar-collapse collapse">
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav">
        <li><a href="{% url 'index'%}">Home</a></li>
        <li><a href="{% url 'accounts:view_profile'%}">Profile</a></li>
        <li><a href="{% url 'accounts:edit_profile'%}">Edit Profile</a></li>
        <li><a href="{% url 'accounts:change_password'%}">Change Password</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'accounts:logout'%}">Logout</a></li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav">
        <li><a href="{% url 'accounts:reset_password'%}">Reset Password</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'accounts:login'%}">Login</a></li>
        <li><a href="{% url 'accounts:register'%}">Register</a></li>
      </ul>
      {% endif %}
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
{% endblock %}
