{% extends 'accounts/base.html' %}

{% block body %}
  <div class="card card-default">
    <div class="card-header">
      <h4>Password reset</h4>
    </div>
    <div class="card-body">
      <p>
        Enter your email address below and we'll email instructions for setting a new one.
      </p>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Reset password</button>
      </form>
    </div>
  </div>
{% endblock %}
