body {
    background-color: #e6e6e6;
    font-family: Futura, Avenir, Helvetica, sans-serif;
}

.navbar {
    background-color: #337ab7;
    border: 0px solid #337ab7;
    border-radius: 0px;
    color: #fefefe;
}

.navbar .navbar-brand {
    color: #fefefe;
}

.navbar .navbar-nav > li > a {
    color: #fefefe;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: #fefefe;
}

.card-default {
    border: 0px;
}

.card-item {
    border: 0px;
    box-shadow: 4px 4px 8px 1px #999;
}

.card-default > .card-header, .card-item > .card-header {
    background-color: #e3f2fd;
}

.card-default > .card-body {
    background-color: #ececec;
}

.card-item > .card-body {
    background-color: 'white';
}

.card-add-data {
    background-color: #f0f0f0;
}

.card-subset {
    box-shadow: 4px 4px 8px 1px #bbb;
}

.card-subset > .card-header {
    background-color: #e9fbfe;
}

.card-subset > .card-body {
    background-color: #f6f6f6;
}

.table-lattice-constants {
    align: center;
    margin: 10px auto;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.table-lattice-constants td {
    padding: 2px 5px;
}

.table-atomic-coordinates {
    align: center;
    margin: 10px auto;
    text-align: right;
    padding: 0px 5px;
}

.table-atomic-coordinates td {
    padding: 0px 5px;
}

table.main-data {
    font-size: 14px;
}

.table-sm td, .table-sm th {
    padding: 0;
}

.details {
    font-size: 16px;
    font-weight: bold;
}

.nav-tabs-band-structure {
    border-bottom: none;
    border-top: 1px solid #E8EAF6;
}

.nav-tabs-band-structure > li > a {
    border-bottom: 1px solid #e8eaf6;
}

.tooltip-container {
    color:#bcdbea;
}

.tooltip-container > .tooltiptext {
    visibility: hidden;
    width: 300px;
    font-weight: normal;
    background-color: #ccebfa;
    font-size: 12px;
    text-align: left;
    color: #555;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 11;
}

.tooltip-container:hover > .tooltiptext {
    visibility: visible;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 14px;
    color: #f9f9f9;
    background-color: #007bff;
    display: inline-block;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.1em 0.3em;
    border-radius: 0.5em;
}

.inputfile + label:hover {
    background-color: #007bdd;
}

footer.reference {
    font-size: 12px;
    margin: 10px;
    color: #555;
}

.collapsing {
    transition: 0.1s;
}

table.phase-transition > tbody > tr > td:first-child {
    font-weight: bold;
}

.new-entry-card > .card-header {
    background-color: rgba(43, 255, 118, 0.18);
}

.new-entry-card > .card-body {
    background-color: rgba(43, 255, 118, 0.05);
}

.authors-card {
    margin-bottom: 10px;
}

.authors-card > .card-header {
    background-color: rgba(0, 255, 191, 0.1);
}

.authors-card > .card-body {
    background-color: rgba(0, 255, 191, 0.05);
}

.btn-purple {
    color: #fff;
    background-color: #b6f;
}

.btn-purple:hover {
    color: #fff;
    background-color: #a5e;
}
